<div>
    <div ng-show="!isFioc()" class="mostrar_resultados tocFooter col-sm-6">
        <div class="pull-left showResults">
            Mostrar:
        </div>
        <div class="noBorder pull-left">
            <md-input-container>
                <md-select id="comboPageSize" ng-model="actualSizePerPage" aria-label="Numero de resultados">
                    <md-option ng-selected="defaultResultsPerPage === resultsPerPage" ng-value="resultsPerPage" ng-repeat="resultsPerPage in resultsPerPageOptions">{{resultsPerPage}}</md-option>
                </md-select>
            </md-input-container>
        </div>
        <div class="pull-left recordsPage">
            registros por p&aacute;gina
        </div>
    </div>
    <div class="col-sm-6 paginationContainer">
        <ul class="pagination offset-s4 pagination-padding text-right-bottom noPadding pull-right">
            <li class="disabled">
                <a ng-click="goToPrevPage()"><i class="material-icons">chevron_left</i></a>
            </li>
            <li ng-class="{active: page === actualPage}" ng-repeat="page in numTotalPages">
                <a ng-click="goToPage(page)">{{page}}</a>
            </li>
            <li class="disabled">
                <a ng-click="goToNextPage()"><i class="material-icons">chevron_right</i></a>
            </li>
        </ul>
    </div>
</div>