<div>
<div class="triangulo" id="triangulo" style="display: block; position: relative; float: right; right: 25px; bottom: 15px; width: 15px; height: 15px; border-width: 10px; border-style: solid; border-color: transparent transparent white; background-color: transparent;"></div>
<div class="cent_buscador" id="cent_buscador" style="display: block;">
    <form class="col s12">
        <div class="col s12" style="border-bottom: 0px solid #D1D1D1;">
            <div class="infoDatos" style="margin-left:20px;">
                <div class="margInf">{{searchInfo.IBANText}}</div>
                <div class="contNum">{{searchInfo.IBANNumber}}</div>
            </div>
            <div class="infoDatos">
                <div class="margInf">{{searchInfo.EntidadText}}</div>
                <div class="contNum">{{searchInfo.EntidadNumber}}</div>
            </div>
            <div class="infoDatos">
                <div class="margInf">{{searchInfo.OficinaText}}</div>
                <div class="contNum">{{searchInfo.OficinaNumber}}</div>
            </div>
            <div class="infoDatos">
                <div class="margInf">{{searchInfo.DCText}}</div>
                <div class="contNum" ng-moodel="dc"></div>
            </div>
            <md-input-container class="campoForm masPad offset-s1" style="width:90px;">
                <label style="left:0px;color:#76777a;font-size: 14px;">Cuenta</label>
                <input class="validate" type="text" ng-model="cuenta">
            </md-input-container>
            <!-- <form name="_form4" class="ng-pristine ng-valid">
                <a ez-datetime-range-control="" from="fCreacionDesde" to="fCreacionHasta" on-change="modelChanged()" class="ng-binding ng-isolate-scope ez-datetime-control">
                    Fecha Creaci&oacute;n Desde - Hasta
                </a>
            </form>
            <form name="_form4" class="ng-pristine ng-valid">
                <a ez-datetime-range-control="" from="fModDesde" to="fModHasta" on-change="modelChanged()" class="ng-binding ng-isolate-scope ez-datetime-control">
                    Fecha Modificaci&oacute;n Desde - Hasta
                </a>
            </form> -->
        </div>
        <div class="col s12">
            <md-input-container>
                <label>Tipo</label>
                <md-select ng-model="tipos">
                    <md-option ng-value="stateOption" ng-repeat="stateOption in statesOptions.choices">{{stateOption}}</md-option>
                </md-select>
            </md-input-container>
            <md-input-container class="campoForm masPad offset-s1" style="width:90px;">
                <label style="left:0px;color:#76777a;font-size: 14px;">N&uacute;mero del documento</label>
                <input class="validate" type="text" ng-model="numDoc">
            </md-input-container>
            <md-datepicker ng-model="fechaModDesde">F. Modificaci&oacute;n desde</md-datepicker>
            <md-datepicker ng-model="fechaModHasta">F. Modificaci&oacute;n hasta</md-datepicker>
        </div>
        <div class="col s12 datosDetalle" style="border-bottom: 0px solid #D1D1D1;position:relative;right:50px;bottom:20px;margin-left:0px;">
            <md-input-container>
                <label>Estado</label>
                <md-select ng-model="estados">
                    <md-option ng-value="stateOption" ng-repeat="stateOption in statesOptions.choices">{{stateOption}}</md-option>
                </md-select>
            </md-input-container>
            <md-input-container>
                <label>Canal</label>
                <md-select ng-model="canales">
                    <md-option ng-value="canalOption" ng-repeat="canalOption in canalesOptions.choices">{{canalOption}}</md-option>
                </md-select>
            </md-input-container>
            <div class="col s12" style="margin-left:55px;position:relative;bottom:20px;">
                <div class="col s2 offset-s8 text-right-bottom noPadding">
                    <button type="reset" class="blue-color button-medium no-background">LIMPIAR B&Uacute;SQUEDA</button>
                </div>
                <div class="col s2 text-right-bottom buscar-submit row" style="margin-top:5px;">
                    <button class="btn button-medium" type="button">BUSCAR</button>
                </div>
            </div>
        </div>
    </form>
</div>
</div>