@font-face {
  font-family: Roboto-Bold;
  src: url(../font/roboto/Roboto-Bold.woff);
  font-weight: bold; }
@font-face {
  font-family: Roboto-Medium;
  src: url(../font/roboto/Roboto-Medium.woff); }
@font-face {
  font-family: Roboto-Regular;
  src: url(../font/roboto/Roboto-Regular.woff); }
@font-face {
  font-family: Roboto-Light;
  src: url(../font/roboto/Roboto-Light.woff); }
.icon_warning {
  color: #ff9933 !important;
  border-radius: 50px;
  padding: 2px;
  font-size: 18px !important; }

.icon_check {
  color: #fff !important;
  border-radius: 50px;
  padding: 2px;
  background: #82b64b;
  font-size: 14px !important; }

.icon_NA {
  color: #999 !important;
  width: 25px;
  height: 25px;
  border-radius: 50px;
  padding: 4px;
  background: #fff;
  font-size: 14px !important;
  font-family: Roboto-Light !important; }

.icon_visibility {
  color: #339999; }

.icon_no_sim {
  color: #999;
  font-size: 22px !important; }

.icon_error {
  color: red;
  font-size: 22px !important; }

.md-select-menu-container {
  z-index: 99999 !important; }

md-input-container label {
  position: absolute !important;
  bottom: 100% !important;
  left: 0 !important; }

.ngdialog-content {
  width: 600px !important; }
  .ngdialog-content .cancelRecordModal img {
    width: 100% !important; }
  .ngdialog-content .cancelRecordModal h5 {
    font-family: Roboto-Medium;
    color: #666;
    font-size: 1.167em; }
  .ngdialog-content .cancelRecordModal md-input-container {
    padding: 0;
    margin: 0 0 30px 0; }
    .ngdialog-content .cancelRecordModal md-input-container label {
      color: #339999 !important; }
    .ngdialog-content .cancelRecordModal md-input-container.md-input-has-value label {
      display: none; }
    .ngdialog-content .cancelRecordModal md-input-container md-select .md-select-value {
      border-bottom: 2px solid #ddd; }
      .ngdialog-content .cancelRecordModal md-input-container md-select .md-select-value span {
        color: #1a2e35; }

.buttonLogin {
  padding: 2px 58px;
  border-radius: 3px;
  background-color: #339999;
  color: #fff;
  border: none;
  font-family: "Roboto-Medium"; }

.buttonDefault {
  background: #339999;
  border-radius: 3px;
  border: 1px solid #00b1b1;
  font-family: Roboto-Medium;
  color: #fff;
  margin-right: 10px; }

.buttonDefault:hover {
  background: #00e6e6;
  border-color: #00e6e6;
  color: #fff; }

.buttonDefault.btn-white {
  background: #fff;
  border-radius: 3px;
  border: 1px solid #00b1b1;
  font-family: Roboto-Medium;
  color: #00b1b1; }

.buttonDefault.btn-white:hover {
  background: #00b1b1;
  border-color: #00b1b1;
  color: #fff; }

.btnAccept {
  color: #007c7b;
  font-family: "Roboto-Bold", "Roboto";
  border: none;
  background: transparent;
  font-size: 0.917em; }

.btnAccept:hover {
  color: #00e6e6;
  text-decoration: none; }

.btnReturn {
  color: #007c7b;
  font-family: "Roboto-Bold", "Roboto";
  background: #fff;
  font-size: 0.917em;
  border: none; }

.btnReturn:hover {
  color: #00e6e6;
  text-decoration: none; }

.btnFile {
  position: relative;
  overflow: hidden;
  border: none !important; }

.btnFile input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block; }

md-tooltip {
  border: 2px solid #339999 !important; }
  md-tooltip .tooltipFioc {
    padding: 20px !important; }
    md-tooltip .tooltipFioc span {
      padding: 20px !important; }

/*
      md-select-menu ,
      md-select-menu md-content{
        height: 100% !important;
        max-height:100% !important;
      }//end
*/
.md-select-menu-container.md-active md-select-menu > * {
  color: #999 !important; }

md-select-menu md-option[selected] {
  color: #fff !important;
  background: #339999; }

md-checkbox.md-default-theme.md-checked .md-ink-ripple,
md-checkbox.md-checked .md-ink-ripple {
  color: #339999 !important;
  background: #fff !important; }

md-checkbox .md-icon {
  border-color: #999 !important;
  border: 1px solid #999 !important; }

md-checkbox.md-default-theme.md-checked .md-icon,
md-checkbox.md-checked .md-icon {
  background: #fff !important; }

md-checkbox.md-default-theme.md-checked .md-icon:after, md-checkbox.md-checked .md-icon:after {
  border-color: #339999 !important; }

md-input-container:not(.md-input-invalid).md-input-focused label {
  color: rgba(0, 0, 0, 0.54) !important;
  font-size: 1em !important; }

md-input-container:not(.md-input-invalid).md-input-focused .md-input {
  border-color: #ddd !important; }

md-select.md-default-theme:not([disabled]):focus .md-select-value, md-select:not([disabled]):focus .md-select-value {
  border-color: #999 !important; }

.pagination {
  margin: 24px 0; }

.cursorPointer {
  cursor: pointer; }

/*
$darkGreen: #263238;
$lightGreen: #007c7b;

$lightGrey: #cccccc;
$mediumGrey: #666666;

$aquaLight: #00e6e6;
$aquaDark: #007c7b;
*/
.textAquaDark {
  color: #007c7b;
  font-family: "Roboto-Bold", "Roboto"; }

.textAquaDark:hover {
  color: #00e6e6;
  text-decoration: none; }

.rowOk {
  margin-left: 15px !important;
  margin-right: 15px !important; }

.material-icons {
  cursor: pointer; }

.breadcrumbSite {
  margin: 0;
  padding: 0;
  font-size: 1.250em;
  font-family: "Roboto-Medium", "Roboto";
  color: #999; }

.contenedor {
  margin: 0 auto;
  font-size: 1em;
  background: #ddd;
  min-height: 100%; }
  .contenedor .central .central-col.ng-scope {
    position: relative;
    width: 100%;
    top: 100px; }

.boxLogin {
  background-color: #fff;
  width: 380px;
  height: 370px;
  margin: auto auto;
  box-shadow: 0px 3px 5px grey; }
  .boxLogin .headerLogin {
    width: auto;
    height: 85px;
    background-color: #1a2e35; }
    .boxLogin .headerLogin .imgLogin {
      position: relative;
      top: 18px;
      left: 160px; }
      .boxLogin .headerLogin .imgLogin img {
        width: auto;
        height: 50px;
        border: 1px solid yellow; }
  .boxLogin .titLogin {
    width: auto;
    height: 70px;
    line-height: 70px;
    font-size: 22px;
    font-weight: bold;
    color: #666;
    position: relative;
    top: 5px; }
    .boxLogin .titLogin p {
      font-family: Roboto-Bold;
      width: 280px;
      margin-right: auto;
      margin-left: auto; }
  .boxLogin .contentLogin {
    width: 220px;
    margin-right: auto;
    margin-left: auto; }
    .boxLogin .contentLogin .group {
      margin: 15px 0; }
      .boxLogin .contentLogin .group label {
        font-size: 14px;
        font-family: "Roboto-Light";
        color: #999; }
      .boxLogin .contentLogin .group input {
        background: #fff;
        width: 100%;
        border: none;
        border-bottom: 1px solid #ddd; }

.cabecera {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100px;
  background: #1a2e35;
  color: #fff;
  padding: 0; }
  .cabecera .contenido_nav {
    margin: 0 auto;
    width: 979px; }
    .cabecera .contenido_nav .cont_sup .cabecera_center {
      height: 49px;
      padding: 10px 0 40px 0; }
      .cabecera .contenido_nav .cont_sup .cabecera_center .tit_cliente .ng-binding {
        font-family: Roboto-Bold;
        font-size: 1.5em; }
      .cabecera .contenido_nav .cont_sup .cabecera_center .img_open img {
        float: right; }
    .cabecera .contenido_nav .cont_inf .cabecera_center {
      height: 50px;
      padding-top: 25px; }
      .cabecera .contenido_nav .cont_inf .cabecera_center > ul.menu_cabecera li {
        display: inline-block;
        padding: 0 10px;
        height: 25px; }
        .cabecera .contenido_nav .cont_inf .cabecera_center > ul.menu_cabecera li a {
          color: #fff;
          font-size: 1.083em;
          font-family: "Roboto-Medium", "Roboto";
          padding: 0 6px 3px 6px; }
          .cabecera .contenido_nav .cont_inf .cabecera_center > ul.menu_cabecera li a:hover {
            color: #00e6e6;
            text-decoration: none;
            border-bottom: 3px solid #00e6e6; }
          .cabecera .contenido_nav .cont_inf .cabecera_center > ul.menu_cabecera li a:focus {
            color: #00e6e6;
            text-decoration: none;
            border-bottom: 3px solid #00e6e6; }
      .cabecera .contenido_nav .cont_inf .cabecera_center > div.lateral_derecha {
        padding: 0px;
        display: table;
        float: right;
        padding-right: 5px; }
        .cabecera .contenido_nav .cont_inf .cabecera_center > div.lateral_derecha > div {
          display: table-cell; }
        .cabecera .contenido_nav .cont_inf .cabecera_center > div.lateral_derecha .nom_usuario {
          font-family: "Roboto-Medium", "Roboto";
          font-size: 1em;
          display: table-cell;
          vertical-align: top;
          height: 10px; }
          .cabecera .contenido_nav .cont_inf .cabecera_center > div.lateral_derecha .nom_usuario a {
            color: #fff;
            border-right: 1px solid #fff;
            padding-right: 10px; }
        .cabecera .contenido_nav .cont_inf .cabecera_center > div.lateral_derecha .iconos_cab {
          float: right;
          display: table-cell;
          vertical-align: top;
          height: 25px; }
          .cabecera .contenido_nav .cont_inf .cabecera_center > div.lateral_derecha .iconos_cab a {
            color: #fff; }

.Toc {
  margin: 0 auto;
  margin-top: 15px;
  width: 979px;
  background-color: #fff;
  box-shadow: 1px 3px 4.7px 0.3px rgba(0, 0, 0, 0.24);
  font-size: 1em;
  padding-bottom: 50px;
  margin-bottom: 40px; }
  .Toc .tocHeader {
    border-bottom: 2px solid #ddd; }
    .Toc .tocHeader .expediente_nav_container nav ul {
      padding: 0;
      margin-bottom: 0px;
      height: 41px; }
      .Toc .tocHeader .expediente_nav_container nav ul li {
        display: inline-block;
        padding: 10px 20px;
        cursor: pointer; }
        .Toc .tocHeader .expediente_nav_container nav ul li:hover {
          border-bottom: 3px solid #339999; }
          .Toc .tocHeader .expediente_nav_container nav ul li:hover a {
            color: #339999 !important;
            text-decoration: none; }
        .Toc .tocHeader .expediente_nav_container nav ul li.active {
          border-bottom: 3px solid #339999; }
          .Toc .tocHeader .expediente_nav_container nav ul li.active a {
            color: #339999 !important;
            text-decoration: none; }
        .Toc .tocHeader .expediente_nav_container nav ul li a {
          color: #1a2e35 !important;
          font-size: 1.083em;
          font-family: "Roboto-Medium", "Roboto"; }
  .Toc form.tocBody .ResultsListPrintRecord {
    padding: 15px 0 30px 0; }
    .Toc form.tocBody .ResultsListPrintRecord .ResultsList {
      display: table; }
      .Toc form.tocBody .ResultsListPrintRecord .ResultsList .ResultsListCaption {
        margin: 0;
        padding: 0;
        font-size: 1.250em;
        font-family: "Roboto-Medium", "Roboto";
        color: #999; }
      .Toc form.tocBody .ResultsListPrintRecord .ResultsList .recordReview {
        margin: 0;
        padding: 0;
        display: table-cell;
        vertical-align: middle; }
        .Toc form.tocBody .ResultsListPrintRecord .ResultsList .recordReview input {
          display: table-cell;
          vertical-align: middle;
          margin: 0;
          padding: 0;
          border-radius: 2px;
          border-width: 1px;
          border-color: #999;
          border-style: solid;
          width: 20px;
          height: 20px; }
        .Toc form.tocBody .ResultsListPrintRecord .ResultsList .recordReview label {
          margin: 0;
          padding: 0;
          color: #999;
          font-size: 0.917em; }
    .Toc form.tocBody .ResultsListPrintRecord .ResultsListPrint .resultados_encontrados {
      color: #1a2e35;
      font-size: 0.917em;
      font-family: "Roboto-Bold", "Roboto"; }
    .Toc form.tocBody .ResultsListPrintRecord .ResultsListPrint .buttonPrint button {
      background: none;
      border: none;
      color: #339999;
      font-weight: bold; }
      .Toc form.tocBody .ResultsListPrintRecord .ResultsListPrint .buttonPrint button:hover {
        color: #999; }
  .Toc form.tocBody table.resultadosTabla {
    padding: 15px;
    font-size: 1em;
    width: 96%;
    margin: 0 auto; }
    .Toc form.tocBody table.resultadosTabla tr.firstCell {
      border-bottom: 2px solid #ddd; }
      .Toc form.tocBody table.resultadosTabla tr.firstCell th {
        text-align: left;
        font-family: "Roboto-Regular";
        color: #999;
        width: auto;
        font-weight: normal; }
        .Toc form.tocBody table.resultadosTabla tr.firstCell th.firstTh {
          width: 50px; }
    .Toc form.tocBody table.resultadosTabla tr td {
      color: #1a2e35;
      font-size: 0.917em;
      border-bottom: 1px solid #ddd;
      text-align: left;
      width: auto;
      height: 30px; }
      .Toc form.tocBody table.resultadosTabla tr td md-checkbox {
        margin: 0; }
      .Toc form.tocBody table.resultadosTabla tr td.firstTd {
        text-align: right;
        padding: 0 15px; }
        .Toc form.tocBody table.resultadosTabla tr td.firstTd i.material-icons {
          font-size: 1.083em !important;
          text-align: right; }
      .Toc form.tocBody table.resultadosTabla tr td span {
        cursor: pointer; }
  .Toc form.tocBody .contentBtnProcessUser {
    margin: 10px 0;
    padding: 0 22px; }
  .Toc .tocFooter {
    padding: 15px;
    color: #999 !important;
    font-size: 0.917em; }
    .Toc .tocFooter .showResults {
      padding: 10px; }
    .Toc .tocFooter .noBorder md-input-container {
      margin: 0 !important;
      padding: 0px !important; }
      .Toc .tocFooter .noBorder md-input-container md-select .md-select-value {
        border: none;
        min-width: 20px; }
        .Toc .tocFooter .noBorder md-input-container md-select .md-select-value *:first-child {
          max-width: 30px; }
        .Toc .tocFooter .noBorder md-input-container md-select .md-select-value .md-select-icon {
          max-width: 10px; }
    .Toc .tocFooter .recordsPage {
      padding-top: 10px; }

.infoReqUserTable {
  width: 100%; }

.expDetalle.cent_detalle,
.mpcContainer {
  background: #fff;
  margin: 0 auto;
  margin-top: 15px;
  width: 979px;
  box-shadow: 1px 3px 4.7px 0.3px rgba(0, 0, 0, 0.24);
  font-size: 1em;
  padding-bottom: 50px;
  margin-bottom: 40px;
  display: table;
  max-width: 979px; }
  .expDetalle.cent_detalle .expHeader, .expDetalle.cent_detalle .mpcTable,
  .mpcContainer .expHeader,
  .mpcContainer .mpcTable {
    padding: 15px;
    border-bottom: 2px solid #ddd; }
    .expDetalle.cent_detalle .expHeader .datosDetalle, .expDetalle.cent_detalle .mpcTable .datosDetalle,
    .mpcContainer .expHeader .datosDetalle,
    .mpcContainer .mpcTable .datosDetalle {
      padding: 15px 15px 0;
      display: table;
      width: 100%;
      font-family: "Roboto-Light", "Roboto";
      font-size: 1em; }
      .expDetalle.cent_detalle .expHeader .datosDetalle .infoDatos, .expDetalle.cent_detalle .mpcTable .datosDetalle .infoDatos,
      .mpcContainer .expHeader .datosDetalle .infoDatos,
      .mpcContainer .mpcTable .datosDetalle .infoDatos {
        display: table-cell; }
        .expDetalle.cent_detalle .expHeader .datosDetalle .infoDatos > div, .expDetalle.cent_detalle .mpcTable .datosDetalle .infoDatos > div,
        .mpcContainer .expHeader .datosDetalle .infoDatos > div,
        .mpcContainer .mpcTable .datosDetalle .infoDatos > div {
          color: #999;
          font-family: Roboto-Regular;
          font-size: 1em; }
        .expDetalle.cent_detalle .expHeader .datosDetalle .infoDatos .contNum, .expDetalle.cent_detalle .mpcTable .datosDetalle .infoDatos .contNum,
        .mpcContainer .expHeader .datosDetalle .infoDatos .contNum,
        .mpcContainer .mpcTable .datosDetalle .infoDatos .contNum {
          color: #1a2e35; }
  .expDetalle.cent_detalle .mpcTable,
  .mpcContainer .mpcTable {
    border: none; }
  .expDetalle.cent_detalle .expBody,
  .mpcContainer .expBody {
    margin-top: 15px; }
    .expDetalle.cent_detalle .expBody .titTitular,
    .mpcContainer .expBody .titTitular {
      font-family: "Roboto-Bold", "Roboto";
      font-size: 1.167em;
      padding: 0 30px; }
    .expDetalle.cent_detalle .expBody .datosDetalle,
    .mpcContainer .expBody .datosDetalle {
      display: table;
      font-family: Roboto-Light;
      color: #727272;
      font-size: 1em;
      padding: 0 30px; }
      .expDetalle.cent_detalle .expBody .datosDetalle .infoDatos,
      .mpcContainer .expBody .datosDetalle .infoDatos {
        display: table-cell;
        font-size: 1em; }
        .expDetalle.cent_detalle .expBody .datosDetalle .infoDatos label,
        .mpcContainer .expBody .datosDetalle .infoDatos label {
          color: #999;
          font-family: Roboto-Regular;
          font-size: 1em;
          font-weight: normal; }
        .expDetalle.cent_detalle .expBody .datosDetalle .infoDatos p,
        .mpcContainer .expBody .datosDetalle .infoDatos p {
          font-family: Roboto-Regular;
          font-size: 1em;
          color: #1a2e35; }
    .expDetalle.cent_detalle .expBody .centertable,
    .mpcContainer .expBody .centertable {
      /*
      padding: 0 30px;
      */
      padding: 0; }
      .expDetalle.cent_detalle .expBody .centertable table.customBorder,
      .mpcContainer .expBody .centertable table.customBorder {
        margin: 15px 2.5%;
        width: 95%; }
    .expDetalle.cent_detalle .expBody .textAquaDark,
    .mpcContainer .expBody .textAquaDark {
      padding: 26px 30px 0 0; }
    .expDetalle.cent_detalle .expBody .centertable table,
    .mpcContainer .expBody .centertable table {
      width: 100%; }
      .expDetalle.cent_detalle .expBody .centertable table tr,
      .mpcContainer .expBody .centertable table tr {
        text-align: center;
        color: #339999;
        border: 1px solid #ddd; }
        .expDetalle.cent_detalle .expBody .centertable table tr td,
        .mpcContainer .expBody .centertable table tr td {
          vertical-align: middle; }
          .expDetalle.cent_detalle .expBody .centertable table tr td:focus,
          .mpcContainer .expBody .centertable table tr td:focus {
            background: #f1f7f7; }
          .expDetalle.cent_detalle .expBody .centertable table tr td:hover,
          .mpcContainer .expBody .centertable table tr td:hover {
            background: #f1f7f7; }
          .expDetalle.cent_detalle .expBody .centertable table tr td p,
          .mpcContainer .expBody .centertable table tr td p {
            padding: 0;
            margin: 0;
            font-size: 0.8333em;
            font-family: "Roboto-Bold", "Roboto"; }
    .expDetalle.cent_detalle .expBody .centertable .infoReqUserTable,
    .mpcContainer .expBody .centertable .infoReqUserTable {
      background: #f1f7f7 !important;
      width: 100%;
      position: relative;
      padding: 0 45px;
      min-height: 100%;
      color: #1a2e35;
      height: 100%;
      display: inline-block;
      margin: 25px 0; }
      .expDetalle.cent_detalle .expBody .centertable .infoReqUserTable .encabezadoDespleg,
      .mpcContainer .expBody .centertable .infoReqUserTable .encabezadoDespleg {
        height: 30px;
        margin: 15px 0; }
        .expDetalle.cent_detalle .expBody .centertable .infoReqUserTable .encabezadoDespleg .tituloDesplegable,
        .mpcContainer .expBody .centertable .infoReqUserTable .encabezadoDespleg .tituloDesplegable {
          padding: 13px 0 0 0;
          font-size: 1.167em;
          font-family: Roboto-Regular; }
        .expDetalle.cent_detalle .expBody .centertable .infoReqUserTable .encabezadoDespleg .xCerrar,
        .mpcContainer .expBody .centertable .infoReqUserTable .encabezadoDespleg .xCerrar {
          padding: 13px 0 0 0; }
      .expDetalle.cent_detalle .expBody .centertable .infoReqUserTable .tablaDoc,
      .mpcContainer .expBody .centertable .infoReqUserTable .tablaDoc {
        border: 1px solid #ddd;
        background: #fff;
        padding: 10px 0 0 0;
        margin-bottom: 25px; }
        .expDetalle.cent_detalle .expBody .centertable .infoReqUserTable .tablaDoc table.tablaDesplegable,
        .mpcContainer .expBody .centertable .infoReqUserTable .tablaDoc table.tablaDesplegable {
          box-shadow: 1px 3px 4.7px 0.3px rgba(0, 0, 0, 0.24);
          margin: 0; }
          .expDetalle.cent_detalle .expBody .centertable .infoReqUserTable .tablaDoc table.tablaDesplegable tr,
          .mpcContainer .expBody .centertable .infoReqUserTable .tablaDoc table.tablaDesplegable tr {
            border: none; }
            .expDetalle.cent_detalle .expBody .centertable .infoReqUserTable .tablaDoc table.tablaDesplegable tr td,
            .mpcContainer .expBody .centertable .infoReqUserTable .tablaDoc table.tablaDesplegable tr td {
              padding: 0 20px; }
          .expDetalle.cent_detalle .expBody .centertable .infoReqUserTable .tablaDoc table.tablaDesplegable tr.tableTit,
          .mpcContainer .expBody .centertable .infoReqUserTable .tablaDoc table.tablaDesplegable tr.tableTit {
            font-family: Roboto-Regular;
            font-size: 1em; }
            .expDetalle.cent_detalle .expBody .centertable .infoReqUserTable .tablaDoc table.tablaDesplegable tr.tableTit p,
            .mpcContainer .expBody .centertable .infoReqUserTable .tablaDoc table.tablaDesplegable tr.tableTit p {
              font-family: Roboto-Regular;
              color: #999;
              font-size: 1em;
              text-align: left; }
          .expDetalle.cent_detalle .expBody .centertable .infoReqUserTable .tablaDoc table.tablaDesplegable tr.tableData,
          .mpcContainer .expBody .centertable .infoReqUserTable .tablaDoc table.tablaDesplegable tr.tableData {
            font-family: Roboto-light;
            font-size: 1.167em;
            color: #1a2e35; }
            .expDetalle.cent_detalle .expBody .centertable .infoReqUserTable .tablaDoc table.tablaDesplegable tr.tableData td,
            .mpcContainer .expBody .centertable .infoReqUserTable .tablaDoc table.tablaDesplegable tr.tableData td {
              border-top: 1px solid #ddd;
              padding-top: 5px; }
              .expDetalle.cent_detalle .expBody .centertable .infoReqUserTable .tablaDoc table.tablaDesplegable tr.tableData td p,
              .mpcContainer .expBody .centertable .infoReqUserTable .tablaDoc table.tablaDesplegable tr.tableData td p {
                font-family: Roboto-Regular;
                font-size: 0.8333em;
                color: #263238;
                text-align: left; }
              .expDetalle.cent_detalle .expBody .centertable .infoReqUserTable .tablaDoc table.tablaDesplegable tr.tableData td i,
              .mpcContainer .expBody .centertable .infoReqUserTable .tablaDoc table.tablaDesplegable tr.tableData td i {
                float: left;
                margin: 0 0 3px 10px; }
      .expDetalle.cent_detalle .expBody .centertable .infoReqUserTable .addDocumentContent,
      .mpcContainer .expBody .centertable .infoReqUserTable .addDocumentContent {
        padding: 0; }
        .expDetalle.cent_detalle .expBody .centertable .infoReqUserTable .addDocumentContent .addDocumentFileContent .addDocumentFile,
        .mpcContainer .expBody .centertable .infoReqUserTable .addDocumentContent .addDocumentFileContent .addDocumentFile {
          position: relative;
          overflow: hidden;
          margin: 10px; }
        .expDetalle.cent_detalle .expBody .centertable .infoReqUserTable .addDocumentContent .addDocumentFileContent .fileName,
        .mpcContainer .expBody .centertable .infoReqUserTable .addDocumentContent .addDocumentFileContent .fileName {
          display: none; }
        .expDetalle.cent_detalle .expBody .centertable .infoReqUserTable .addDocumentContent .standContainer,
        .mpcContainer .expBody .centertable .infoReqUserTable .addDocumentContent .standContainer {
          font-family: Roboto-Regular !important; }
          .expDetalle.cent_detalle .expBody .centertable .infoReqUserTable .addDocumentContent .standContainer md-input-container,
          .mpcContainer .expBody .centertable .infoReqUserTable .addDocumentContent .standContainer md-input-container {
            padding: 0; }
            .expDetalle.cent_detalle .expBody .centertable .infoReqUserTable .addDocumentContent .standContainer md-input-container md-select .md-select-value,
            .mpcContainer .expBody .centertable .infoReqUserTable .addDocumentContent .standContainer md-input-container md-select .md-select-value {
              background: transparent;
              padding-top: 0;
              border-bottom: 1px solid #999; }
              .expDetalle.cent_detalle .expBody .centertable .infoReqUserTable .addDocumentContent .standContainer md-input-container md-select .md-select-value span,
              .mpcContainer .expBody .centertable .infoReqUserTable .addDocumentContent .standContainer md-input-container md-select .md-select-value span {
                color: #666 !important; }
        .expDetalle.cent_detalle .expBody .centertable .infoReqUserTable .addDocumentContent .textAquaDark,
        .mpcContainer .expBody .centertable .infoReqUserTable .addDocumentContent .textAquaDark {
          display: block;
          padding: 10px 0; }
        .expDetalle.cent_detalle .expBody .centertable .infoReqUserTable .addDocumentContent .buttonDefault,
        .mpcContainer .expBody .centertable .infoReqUserTable .addDocumentContent .buttonDefault {
          margin: 20px 0; }
  .expDetalle.cent_detalle .cent_buscador,
  .mpcContainer .cent_buscador {
    padding-top: 20px; }
    .expDetalle.cent_detalle .cent_buscador .datosDetalle,
    .mpcContainer .cent_buscador .datosDetalle {
      display: table;
      font-family: Roboto-Light;
      color: #727272;
      font-size: 1em; }
      .expDetalle.cent_detalle .cent_buscador .datosDetalle > div,
      .mpcContainer .cent_buscador .datosDetalle > div {
        display: table;
        min-height: 50px;
        margin: 10px 0; }
        .expDetalle.cent_detalle .cent_buscador .datosDetalle > div div.infoDatos,
        .expDetalle.cent_detalle .cent_buscador .datosDetalle > div > md-input-container,
        .expDetalle.cent_detalle .cent_buscador .datosDetalle > div > div,
        .mpcContainer .cent_buscador .datosDetalle > div div.infoDatos,
        .mpcContainer .cent_buscador .datosDetalle > div > md-input-container,
        .mpcContainer .cent_buscador .datosDetalle > div > div {
          display: table-cell; }
          .expDetalle.cent_detalle .cent_buscador .datosDetalle > div div.infoDatos > div.margInf,
          .expDetalle.cent_detalle .cent_buscador .datosDetalle > div div.infoDatos > div.contNum,
          .expDetalle.cent_detalle .cent_buscador .datosDetalle > div div.infoDatos > label,
          .expDetalle.cent_detalle .cent_buscador .datosDetalle > div div.infoDatos > md-select,
          .expDetalle.cent_detalle .cent_buscador .datosDetalle > div div.infoDatos > input,
          .expDetalle.cent_detalle .cent_buscador .datosDetalle > div div.infoDatos > md-datepicker,
          .expDetalle.cent_detalle .cent_buscador .datosDetalle > div > md-input-container > div.margInf,
          .expDetalle.cent_detalle .cent_buscador .datosDetalle > div > md-input-container > div.contNum,
          .expDetalle.cent_detalle .cent_buscador .datosDetalle > div > md-input-container > label,
          .expDetalle.cent_detalle .cent_buscador .datosDetalle > div > md-input-container > md-select,
          .expDetalle.cent_detalle .cent_buscador .datosDetalle > div > md-input-container > input,
          .expDetalle.cent_detalle .cent_buscador .datosDetalle > div > md-input-container > md-datepicker,
          .expDetalle.cent_detalle .cent_buscador .datosDetalle > div > div > div.margInf,
          .expDetalle.cent_detalle .cent_buscador .datosDetalle > div > div > div.contNum,
          .expDetalle.cent_detalle .cent_buscador .datosDetalle > div > div > label,
          .expDetalle.cent_detalle .cent_buscador .datosDetalle > div > div > md-select,
          .expDetalle.cent_detalle .cent_buscador .datosDetalle > div > div > input,
          .expDetalle.cent_detalle .cent_buscador .datosDetalle > div > div > md-datepicker,
          .mpcContainer .cent_buscador .datosDetalle > div div.infoDatos > div.margInf,
          .mpcContainer .cent_buscador .datosDetalle > div div.infoDatos > div.contNum,
          .mpcContainer .cent_buscador .datosDetalle > div div.infoDatos > label,
          .mpcContainer .cent_buscador .datosDetalle > div div.infoDatos > md-select,
          .mpcContainer .cent_buscador .datosDetalle > div div.infoDatos > input,
          .mpcContainer .cent_buscador .datosDetalle > div div.infoDatos > md-datepicker,
          .mpcContainer .cent_buscador .datosDetalle > div > md-input-container > div.margInf,
          .mpcContainer .cent_buscador .datosDetalle > div > md-input-container > div.contNum,
          .mpcContainer .cent_buscador .datosDetalle > div > md-input-container > label,
          .mpcContainer .cent_buscador .datosDetalle > div > md-input-container > md-select,
          .mpcContainer .cent_buscador .datosDetalle > div > md-input-container > input,
          .mpcContainer .cent_buscador .datosDetalle > div > md-input-container > md-datepicker,
          .mpcContainer .cent_buscador .datosDetalle > div > div > div.margInf,
          .mpcContainer .cent_buscador .datosDetalle > div > div > div.contNum,
          .mpcContainer .cent_buscador .datosDetalle > div > div > label,
          .mpcContainer .cent_buscador .datosDetalle > div > div > md-select,
          .mpcContainer .cent_buscador .datosDetalle > div > div > input,
          .mpcContainer .cent_buscador .datosDetalle > div > div > md-datepicker {
            display: table-caption; }
            .expDetalle.cent_detalle .cent_buscador .datosDetalle > div div.infoDatos > div.margInf .md-button.md-icon-button,
            .expDetalle.cent_detalle .cent_buscador .datosDetalle > div div.infoDatos > div.contNum .md-button.md-icon-button,
            .expDetalle.cent_detalle .cent_buscador .datosDetalle > div div.infoDatos > label .md-button.md-icon-button,
            .expDetalle.cent_detalle .cent_buscador .datosDetalle > div div.infoDatos > md-select .md-button.md-icon-button,
            .expDetalle.cent_detalle .cent_buscador .datosDetalle > div div.infoDatos > input .md-button.md-icon-button,
            .expDetalle.cent_detalle .cent_buscador .datosDetalle > div div.infoDatos > md-datepicker .md-button.md-icon-button,
            .expDetalle.cent_detalle .cent_buscador .datosDetalle > div > md-input-container > div.margInf .md-button.md-icon-button,
            .expDetalle.cent_detalle .cent_buscador .datosDetalle > div > md-input-container > div.contNum .md-button.md-icon-button,
            .expDetalle.cent_detalle .cent_buscador .datosDetalle > div > md-input-container > label .md-button.md-icon-button,
            .expDetalle.cent_detalle .cent_buscador .datosDetalle > div > md-input-container > md-select .md-button.md-icon-button,
            .expDetalle.cent_detalle .cent_buscador .datosDetalle > div > md-input-container > input .md-button.md-icon-button,
            .expDetalle.cent_detalle .cent_buscador .datosDetalle > div > md-input-container > md-datepicker .md-button.md-icon-button,
            .expDetalle.cent_detalle .cent_buscador .datosDetalle > div > div > div.margInf .md-button.md-icon-button,
            .expDetalle.cent_detalle .cent_buscador .datosDetalle > div > div > div.contNum .md-button.md-icon-button,
            .expDetalle.cent_detalle .cent_buscador .datosDetalle > div > div > label .md-button.md-icon-button,
            .expDetalle.cent_detalle .cent_buscador .datosDetalle > div > div > md-select .md-button.md-icon-button,
            .expDetalle.cent_detalle .cent_buscador .datosDetalle > div > div > input .md-button.md-icon-button,
            .expDetalle.cent_detalle .cent_buscador .datosDetalle > div > div > md-datepicker .md-button.md-icon-button,
            .mpcContainer .cent_buscador .datosDetalle > div div.infoDatos > div.margInf .md-button.md-icon-button,
            .mpcContainer .cent_buscador .datosDetalle > div div.infoDatos > div.contNum .md-button.md-icon-button,
            .mpcContainer .cent_buscador .datosDetalle > div div.infoDatos > label .md-button.md-icon-button,
            .mpcContainer .cent_buscador .datosDetalle > div div.infoDatos > md-select .md-button.md-icon-button,
            .mpcContainer .cent_buscador .datosDetalle > div div.infoDatos > input .md-button.md-icon-button,
            .mpcContainer .cent_buscador .datosDetalle > div div.infoDatos > md-datepicker .md-button.md-icon-button,
            .mpcContainer .cent_buscador .datosDetalle > div > md-input-container > div.margInf .md-button.md-icon-button,
            .mpcContainer .cent_buscador .datosDetalle > div > md-input-container > div.contNum .md-button.md-icon-button,
            .mpcContainer .cent_buscador .datosDetalle > div > md-input-container > label .md-button.md-icon-button,
            .mpcContainer .cent_buscador .datosDetalle > div > md-input-container > md-select .md-button.md-icon-button,
            .mpcContainer .cent_buscador .datosDetalle > div > md-input-container > input .md-button.md-icon-button,
            .mpcContainer .cent_buscador .datosDetalle > div > md-input-container > md-datepicker .md-button.md-icon-button,
            .mpcContainer .cent_buscador .datosDetalle > div > div > div.margInf .md-button.md-icon-button,
            .mpcContainer .cent_buscador .datosDetalle > div > div > div.contNum .md-button.md-icon-button,
            .mpcContainer .cent_buscador .datosDetalle > div > div > label .md-button.md-icon-button,
            .mpcContainer .cent_buscador .datosDetalle > div > div > md-select .md-button.md-icon-button,
            .mpcContainer .cent_buscador .datosDetalle > div > div > input .md-button.md-icon-button,
            .mpcContainer .cent_buscador .datosDetalle > div > div > md-datepicker .md-button.md-icon-button {
              width: auto; }
            .expDetalle.cent_detalle .cent_buscador .datosDetalle > div div.infoDatos > div.margInf md-datepicker,
            .expDetalle.cent_detalle .cent_buscador .datosDetalle > div div.infoDatos > div.contNum md-datepicker,
            .expDetalle.cent_detalle .cent_buscador .datosDetalle > div div.infoDatos > label md-datepicker,
            .expDetalle.cent_detalle .cent_buscador .datosDetalle > div div.infoDatos > md-select md-datepicker,
            .expDetalle.cent_detalle .cent_buscador .datosDetalle > div div.infoDatos > input md-datepicker,
            .expDetalle.cent_detalle .cent_buscador .datosDetalle > div div.infoDatos > md-datepicker md-datepicker,
            .expDetalle.cent_detalle .cent_buscador .datosDetalle > div > md-input-container > div.margInf md-datepicker,
            .expDetalle.cent_detalle .cent_buscador .datosDetalle > div > md-input-container > div.contNum md-datepicker,
            .expDetalle.cent_detalle .cent_buscador .datosDetalle > div > md-input-container > label md-datepicker,
            .expDetalle.cent_detalle .cent_buscador .datosDetalle > div > md-input-container > md-select md-datepicker,
            .expDetalle.cent_detalle .cent_buscador .datosDetalle > div > md-input-container > input md-datepicker,
            .expDetalle.cent_detalle .cent_buscador .datosDetalle > div > md-input-container > md-datepicker md-datepicker,
            .expDetalle.cent_detalle .cent_buscador .datosDetalle > div > div > div.margInf md-datepicker,
            .expDetalle.cent_detalle .cent_buscador .datosDetalle > div > div > div.contNum md-datepicker,
            .expDetalle.cent_detalle .cent_buscador .datosDetalle > div > div > label md-datepicker,
            .expDetalle.cent_detalle .cent_buscador .datosDetalle > div > div > md-select md-datepicker,
            .expDetalle.cent_detalle .cent_buscador .datosDetalle > div > div > input md-datepicker,
            .expDetalle.cent_detalle .cent_buscador .datosDetalle > div > div > md-datepicker md-datepicker,
            .mpcContainer .cent_buscador .datosDetalle > div div.infoDatos > div.margInf md-datepicker,
            .mpcContainer .cent_buscador .datosDetalle > div div.infoDatos > div.contNum md-datepicker,
            .mpcContainer .cent_buscador .datosDetalle > div div.infoDatos > label md-datepicker,
            .mpcContainer .cent_buscador .datosDetalle > div div.infoDatos > md-select md-datepicker,
            .mpcContainer .cent_buscador .datosDetalle > div div.infoDatos > input md-datepicker,
            .mpcContainer .cent_buscador .datosDetalle > div div.infoDatos > md-datepicker md-datepicker,
            .mpcContainer .cent_buscador .datosDetalle > div > md-input-container > div.margInf md-datepicker,
            .mpcContainer .cent_buscador .datosDetalle > div > md-input-container > div.contNum md-datepicker,
            .mpcContainer .cent_buscador .datosDetalle > div > md-input-container > label md-datepicker,
            .mpcContainer .cent_buscador .datosDetalle > div > md-input-container > md-select md-datepicker,
            .mpcContainer .cent_buscador .datosDetalle > div > md-input-container > input md-datepicker,
            .mpcContainer .cent_buscador .datosDetalle > div > md-input-container > md-datepicker md-datepicker,
            .mpcContainer .cent_buscador .datosDetalle > div > div > div.margInf md-datepicker,
            .mpcContainer .cent_buscador .datosDetalle > div > div > div.contNum md-datepicker,
            .mpcContainer .cent_buscador .datosDetalle > div > div > label md-datepicker,
            .mpcContainer .cent_buscador .datosDetalle > div > div > md-select md-datepicker,
            .mpcContainer .cent_buscador .datosDetalle > div > div > input md-datepicker,
            .mpcContainer .cent_buscador .datosDetalle > div > div > md-datepicker md-datepicker {
              padding: 0; }
            .expDetalle.cent_detalle .cent_buscador .datosDetalle > div div.infoDatos > div.margInf .md-button.md-icon-button,
            .expDetalle.cent_detalle .cent_buscador .datosDetalle > div div.infoDatos > div.contNum .md-button.md-icon-button,
            .expDetalle.cent_detalle .cent_buscador .datosDetalle > div div.infoDatos > label .md-button.md-icon-button,
            .expDetalle.cent_detalle .cent_buscador .datosDetalle > div div.infoDatos > md-select .md-button.md-icon-button,
            .expDetalle.cent_detalle .cent_buscador .datosDetalle > div div.infoDatos > input .md-button.md-icon-button,
            .expDetalle.cent_detalle .cent_buscador .datosDetalle > div div.infoDatos > md-datepicker .md-button.md-icon-button,
            .expDetalle.cent_detalle .cent_buscador .datosDetalle > div > md-input-container > div.margInf .md-button.md-icon-button,
            .expDetalle.cent_detalle .cent_buscador .datosDetalle > div > md-input-container > div.contNum .md-button.md-icon-button,
            .expDetalle.cent_detalle .cent_buscador .datosDetalle > div > md-input-container > label .md-button.md-icon-button,
            .expDetalle.cent_detalle .cent_buscador .datosDetalle > div > md-input-container > md-select .md-button.md-icon-button,
            .expDetalle.cent_detalle .cent_buscador .datosDetalle > div > md-input-container > input .md-button.md-icon-button,
            .expDetalle.cent_detalle .cent_buscador .datosDetalle > div > md-input-container > md-datepicker .md-button.md-icon-button,
            .expDetalle.cent_detalle .cent_buscador .datosDetalle > div > div > div.margInf .md-button.md-icon-button,
            .expDetalle.cent_detalle .cent_buscador .datosDetalle > div > div > div.contNum .md-button.md-icon-button,
            .expDetalle.cent_detalle .cent_buscador .datosDetalle > div > div > label .md-button.md-icon-button,
            .expDetalle.cent_detalle .cent_buscador .datosDetalle > div > div > md-select .md-button.md-icon-button,
            .expDetalle.cent_detalle .cent_buscador .datosDetalle > div > div > input .md-button.md-icon-button,
            .expDetalle.cent_detalle .cent_buscador .datosDetalle > div > div > md-datepicker .md-button.md-icon-button,
            .mpcContainer .cent_buscador .datosDetalle > div div.infoDatos > div.margInf .md-button.md-icon-button,
            .mpcContainer .cent_buscador .datosDetalle > div div.infoDatos > div.contNum .md-button.md-icon-button,
            .mpcContainer .cent_buscador .datosDetalle > div div.infoDatos > label .md-button.md-icon-button,
            .mpcContainer .cent_buscador .datosDetalle > div div.infoDatos > md-select .md-button.md-icon-button,
            .mpcContainer .cent_buscador .datosDetalle > div div.infoDatos > input .md-button.md-icon-button,
            .mpcContainer .cent_buscador .datosDetalle > div div.infoDatos > md-datepicker .md-button.md-icon-button,
            .mpcContainer .cent_buscador .datosDetalle > div > md-input-container > div.margInf .md-button.md-icon-button,
            .mpcContainer .cent_buscador .datosDetalle > div > md-input-container > div.contNum .md-button.md-icon-button,
            .mpcContainer .cent_buscador .datosDetalle > div > md-input-container > label .md-button.md-icon-button,
            .mpcContainer .cent_buscador .datosDetalle > div > md-input-container > md-select .md-button.md-icon-button,
            .mpcContainer .cent_buscador .datosDetalle > div > md-input-container > input .md-button.md-icon-button,
            .mpcContainer .cent_buscador .datosDetalle > div > md-input-container > md-datepicker .md-button.md-icon-button,
            .mpcContainer .cent_buscador .datosDetalle > div > div > div.margInf .md-button.md-icon-button,
            .mpcContainer .cent_buscador .datosDetalle > div > div > div.contNum .md-button.md-icon-button,
            .mpcContainer .cent_buscador .datosDetalle > div > div > label .md-button.md-icon-button,
            .mpcContainer .cent_buscador .datosDetalle > div > div > md-select .md-button.md-icon-button,
            .mpcContainer .cent_buscador .datosDetalle > div > div > input .md-button.md-icon-button,
            .mpcContainer .cent_buscador .datosDetalle > div > div > md-datepicker .md-button.md-icon-button {
              margin: 0;
              padding: 0; }
            .expDetalle.cent_detalle .cent_buscador .datosDetalle > div div.infoDatos > div.margInf .md-datepicker-input,
            .expDetalle.cent_detalle .cent_buscador .datosDetalle > div div.infoDatos > div.contNum .md-datepicker-input,
            .expDetalle.cent_detalle .cent_buscador .datosDetalle > div div.infoDatos > label .md-datepicker-input,
            .expDetalle.cent_detalle .cent_buscador .datosDetalle > div div.infoDatos > md-select .md-datepicker-input,
            .expDetalle.cent_detalle .cent_buscador .datosDetalle > div div.infoDatos > input .md-datepicker-input,
            .expDetalle.cent_detalle .cent_buscador .datosDetalle > div div.infoDatos > md-datepicker .md-datepicker-input,
            .expDetalle.cent_detalle .cent_buscador .datosDetalle > div > md-input-container > div.margInf .md-datepicker-input,
            .expDetalle.cent_detalle .cent_buscador .datosDetalle > div > md-input-container > div.contNum .md-datepicker-input,
            .expDetalle.cent_detalle .cent_buscador .datosDetalle > div > md-input-container > label .md-datepicker-input,
            .expDetalle.cent_detalle .cent_buscador .datosDetalle > div > md-input-container > md-select .md-datepicker-input,
            .expDetalle.cent_detalle .cent_buscador .datosDetalle > div > md-input-container > input .md-datepicker-input,
            .expDetalle.cent_detalle .cent_buscador .datosDetalle > div > md-input-container > md-datepicker .md-datepicker-input,
            .expDetalle.cent_detalle .cent_buscador .datosDetalle > div > div > div.margInf .md-datepicker-input,
            .expDetalle.cent_detalle .cent_buscador .datosDetalle > div > div > div.contNum .md-datepicker-input,
            .expDetalle.cent_detalle .cent_buscador .datosDetalle > div > div > label .md-datepicker-input,
            .expDetalle.cent_detalle .cent_buscador .datosDetalle > div > div > md-select .md-datepicker-input,
            .expDetalle.cent_detalle .cent_buscador .datosDetalle > div > div > input .md-datepicker-input,
            .expDetalle.cent_detalle .cent_buscador .datosDetalle > div > div > md-datepicker .md-datepicker-input,
            .mpcContainer .cent_buscador .datosDetalle > div div.infoDatos > div.margInf .md-datepicker-input,
            .mpcContainer .cent_buscador .datosDetalle > div div.infoDatos > div.contNum .md-datepicker-input,
            .mpcContainer .cent_buscador .datosDetalle > div div.infoDatos > label .md-datepicker-input,
            .mpcContainer .cent_buscador .datosDetalle > div div.infoDatos > md-select .md-datepicker-input,
            .mpcContainer .cent_buscador .datosDetalle > div div.infoDatos > input .md-datepicker-input,
            .mpcContainer .cent_buscador .datosDetalle > div div.infoDatos > md-datepicker .md-datepicker-input,
            .mpcContainer .cent_buscador .datosDetalle > div > md-input-container > div.margInf .md-datepicker-input,
            .mpcContainer .cent_buscador .datosDetalle > div > md-input-container > div.contNum .md-datepicker-input,
            .mpcContainer .cent_buscador .datosDetalle > div > md-input-container > label .md-datepicker-input,
            .mpcContainer .cent_buscador .datosDetalle > div > md-input-container > md-select .md-datepicker-input,
            .mpcContainer .cent_buscador .datosDetalle > div > md-input-container > input .md-datepicker-input,
            .mpcContainer .cent_buscador .datosDetalle > div > md-input-container > md-datepicker .md-datepicker-input,
            .mpcContainer .cent_buscador .datosDetalle > div > div > div.margInf .md-datepicker-input,
            .mpcContainer .cent_buscador .datosDetalle > div > div > div.contNum .md-datepicker-input,
            .mpcContainer .cent_buscador .datosDetalle > div > div > label .md-datepicker-input,
            .mpcContainer .cent_buscador .datosDetalle > div > div > md-select .md-datepicker-input,
            .mpcContainer .cent_buscador .datosDetalle > div > div > input .md-datepicker-input,
            .mpcContainer .cent_buscador .datosDetalle > div > div > md-datepicker .md-datepicker-input {
              max-width: auto !important;
              min-width: auto !important; }
  .expDetalle.cent_detalle .thirdDirective,
  .mpcContainer .thirdDirective {
    padding: 15px;
    font-family: Roboto-Medium;
    font-size: 1em; }
    .expDetalle.cent_detalle .thirdDirective .tit,
    .mpcContainer .thirdDirective .tit {
      font-size: 1.250em;
      color: #999;
      padding: 0 0 10px 0; }
    .expDetalle.cent_detalle .thirdDirective .thirdDirectiveTable,
    .mpcContainer .thirdDirective .thirdDirectiveTable {
      display: table;
      height: 100%; }
      .expDetalle.cent_detalle .thirdDirective .thirdDirectiveTable md-input-container,
      .mpcContainer .thirdDirective .thirdDirectiveTable md-input-container {
        display: table-cell; }
        .expDetalle.cent_detalle .thirdDirective .thirdDirectiveTable md-input-container label,
        .mpcContainer .thirdDirective .thirdDirectiveTable md-input-container label {
          position: relative !important;
          font-size: 1.200em;
          font-family: Roboto-Regular;
          color: #999;
          margin-bottom: 0; }
        .expDetalle.cent_detalle .thirdDirective .thirdDirectiveTable md-input-container input,
        .mpcContainer .thirdDirective .thirdDirectiveTable md-input-container input {
          display: table-cell;
          font-size: 1em;
          color: #1a2e35;
          background-image: none; }
    .expDetalle.cent_detalle .thirdDirective .thirdDirectiveChecks,
    .mpcContainer .thirdDirective .thirdDirectiveChecks {
      padding: 15px;
      display: table;
      height: 100%; }
      .expDetalle.cent_detalle .thirdDirective .thirdDirectiveChecks label,
      .mpcContainer .thirdDirective .thirdDirectiveChecks label {
        font-weight: normal;
        font-size: 1em;
        color: #999; }
      .expDetalle.cent_detalle .thirdDirective .thirdDirectiveChecks md-checkbox span,
      .mpcContainer .thirdDirective .thirdDirectiveChecks md-checkbox span {
        color: #1a2e35; }
      .expDetalle.cent_detalle .thirdDirective .thirdDirectiveChecks md-input-container,
      .mpcContainer .thirdDirective .thirdDirectiveChecks md-input-container {
        margin-left: 15px; }

.userDetailContent {
  background: #fff;
  margin: 0 auto;
  margin-top: 15px;
  width: 979px;
  box-shadow: 1px 3px 4.7px 0.3px rgba(0, 0, 0, 0.24);
  font-size: 1em;
  padding-bottom: 50px;
  margin-bottom: 40px;
  padding: 15px;
  display: table;
  max-width: 979px; }
  .userDetailContent .datosDetalle {
    display: table;
    font-family: Roboto-Light;
    color: #727272;
    font-size: 1em;
    margin: 15px 0;
    margin: 15px 0; }
    .userDetailContent .datosDetalle .infoDatos {
      display: table-cell;
      font-size: 1em;
      padding: 0 15px; }
      .userDetailContent .datosDetalle .infoDatos label {
        color: #999;
        font-family: Roboto-Regular;
        font-size: 1em;
        font-weight: normal; }
      .userDetailContent .datosDetalle .infoDatos p {
        font-family: Roboto-Regular;
        font-size: 1em;
        color: #1a2e35; }

html, body {
  background: #dadada !important; }

/*# sourceMappingURL=style_2.css.map */
