//--COLORS------------------------
$green:                  #339999 !default;
$green-light:            #00e6e6 !default;
$green-dark:             #1a2e35 !default;

$gray-light:             #ddd !default;
$gray:                   #999 !default;
$gray-dark:              #666 !default;
$gray-darker:            #333 !default;

$blue-light:             #f1f7f7 !default;

$white:                  #fff !default;

//--COLORS ICONS-------------------
$icon_warning:           #ff9933 !default;
$icon_check:             #82b64b !default;
$icon_NA:                #999 !default;


//--FONTS------------------------
@font-face{
  font-family: Roboto-Bold;
  src: url(../font/roboto/Roboto-Bold.woff);
  font-weight: bold;
}

@font-face{
  font-family: Roboto-Medium;
  src: url(../font/roboto/Roboto-Medium.woff);
}

@font-face{
  font-family: Roboto-Regular;
  src: url(../font/roboto/Roboto-Regular.woff);
}

@font-face{
  font-family: Roboto-Light;
  src: url(../font/roboto/Roboto-Light.woff);
}


//--ICONS------------------------
  .icon_warning{
    color: $icon_warning !important;
    border-radius: 50px;
    padding: 2px;
    font-size: 18px !important;
  }//end .icon_warning
  .icon_check{
    color: $white !important;
    border-radius: 50px;
    padding: 2px;
    background: $icon_check;
    font-size: 14px !important;
  }//end icon_check
  .icon_NA{
    color: $gray !important;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    padding: 4px;
    background: $white;
    font-size: 14px !important;
    font-family: Roboto-Light !important;
  }//end icon_NA
  .icon_visibility{
    color: $green;
  }//end .icon_visibility
  .icon_no_sim{
    color: $gray;
    font-size: 22px !important;
  }//end icon_no_sim
  .icon_error{
    color: red;
    font-size: 22px !important;
  }
//--end--ICONS------------------------

//--MODAL WINDOW CANCELAR EXPEDIENTE-------
  .md-select-menu-container{
    z-index: 99999 !important;
  }

  md-input-container label {
    position: absolute !important;
    bottom: 100% !important;
    left: 0 !important;
  }
  .ngdialog-content{
    width: 600px !important;
    .cancelRecordModal{

      img{
        width: 100% !important;
      }//end img

      h5{
        font-family: Roboto-Medium;
        color: $gray-dark;
        font-size: 1.167em;
      }//end h5

      md-input-container{
        padding: 0;
        margin: 0 0 30px 0;
        label{
          color: $green !important;
        }//end label
        &.md-input-has-value{
          label{
            display: none;
          }//end label
        }//end md-input-has-value
        md-select{
          .md-select-value{
            border-bottom: 2px solid $gray-light;
            span{
              color: $green-dark;
            }//end span
          }//end .md-select-value
        }//end md-select
      }//end md-input-container

    }//end cancelRecordModal
  }//end .ngdialog-content
//--end--MODAL WINDOW CANCELAR EXPEDIENTE--


//--BUTTONS------------------------
  .buttonLogin {
    padding: 2px 58px;
    border-radius: 3px;
    background-color: $green;
    color: $white;
    border: none;
    font-family: "Roboto-Medium";
  }//end buttonLogin

  .buttonDefault{
    background: $green;
    border-radius: 3px;
    border:1px solid #00b1b1;
    font-family: Roboto-Medium;
    color: $white;
    margin-right: 10px;
  }//end .buttonDefault

  .buttonDefault:hover{
    background: $green-light;
    border-color: $green-light;
    color: $white;
  }//end hover

  .buttonDefault.btn-white{
    background: $white;
    border-radius: 3px;
    border:1px solid #00b1b1;
    font-family: Roboto-Medium;
    color: #00b1b1;
  }//end .btn-white
  .buttonDefault.btn-white:hover{
    background: #00b1b1;
    border-color:#00b1b1;
    color: $white;
  }//end hover

  .btnAccept{
    color:#007c7b;
    font-family: "Roboto-Bold", "Roboto";
    border: none;
    background: transparent;
    font-size: 0.917em;
  }//end .colorAqua

  .btnAccept:hover{
    color: $green-light;
    text-decoration: none;
  }//end hover

  .btnReturn{
    color: #007c7b;
    font-family: "Roboto-Bold", "Roboto";
    background: #fff;
    font-size: 0.917em;
    border: none;
  }//end .btnReturn

  .btnReturn:hover{
    color: $green-light;
    text-decoration: none;
  }//end hover

  //--botón añadir archivo------
    .btnFile {
      position: relative;
      overflow: hidden;
      border: none !important;
    }
    .btnFile input[type=file] {
      position: absolute;
      top: 0;
      right: 0;
      min-width: 100%;
      min-height: 100%;
      font-size: 100px;
      text-align: right;
      filter: alpha(opacity=0);
      opacity: 0;
      outline: none;
      background: white;
      cursor: inherit;
      display: block;
    }
  //--end---botón añadir archivo---
//--end--BUTTONS------------------------

//----TOOLTIP----
  md-tooltip{
      border: 2px solid $green !important;
      .tooltipFioc{
        padding: 20px !important;
        span{
          padding: 20px !important;
        }//end span
      }//end tooltipFioc
    }//end md-tooltip
//--END---TOOLTIP

//----ANGULAR MATERIAL ELEMENTS DEFAULT-

    //--SELECT SCROLL REVISIÓN FIOC------

      .standFioc md-select-menu md-content ,
      .standFioc md-select-menu md-content{
        height: 100% !important;
        max-height:100% !important;
      }//end

    //--end--SELECT SCROLL REVISIÓN FIOC--

    //--SELECT-------md-select-value-----
      .md-select-menu-container.md-active md-select-menu > *{
        color: $gray !important;
      }//end

      md-select-menu md-option[selected]{
        color: $white !important;
        background: $green;
      }//end
    //--end--SELECT-------md-select-value---

    //--CHECKBOX DEFAULT MD-CHECKBOX--------
      md-checkbox.md-default-theme.md-checked .md-ink-ripple,
      md-checkbox.md-checked .md-ink-ripple {
        color: $green !important;
        background: $white !important;
      }//end
      md-checkbox .md-icon{
        border-color: $gray !important;
        border:1px solid $gray !important;
      }//end
      md-checkbox.md-default-theme.md-checked .md-icon,
      md-checkbox.md-checked .md-icon{
        background: $white !important;
      }//end
      md-checkbox.md-default-theme.md-checked .md-icon:after, md-checkbox.md-checked .md-icon:after{
        border-color: $green !important;
      }//end
    //--end--CHECKBOX DEFAULT MD-CHECKBOX----

    md-input-container:not(.md-input-invalid).md-input-focused label{
      color: rgba(0 ,0 ,0 ,0.54) !important;
      font-size: 1em !important;
    }//end

    md-input-container:not(.md-input-invalid).md-input-focused .md-input{
      border-color: $gray-light !important;
    }//end

    md-select.md-default-theme:not([disabled]):focus .md-select-value, md-select:not([disabled]):focus .md-select-value{
      border-color: $gray !important;
    }

//--end--ANGULAR MATERIAL ELEMENTS DEFAULT-

body.ngdialog-open, html{overflow: hidden;}

.md-select-icon:after {
  display: block;
  content: '\25BC';
  position: relative;
  top: 2px;
  speak: none;
  -webkit-transform: scaleY(0.6) scaleX(1);
  transform: scaleY(0.6) scaleX(1);
}

.pagination{
  margin: 24px 0;
}

.cursorPointer{
  cursor: pointer;
}//end .cursorPointer

//--COLORS------------------------
/*
$darkGreen: #263238;
$lightGreen: #007c7b;

$lightGrey: #cccccc;
$mediumGrey: #666666;

$aquaLight: #00e6e6;
$aquaDark: #007c7b;
*/

.textAquaDark{
  color:#007c7b;
  font-family: "Roboto-Bold", "Roboto";
}//end .colorAqua

.textAquaDark:hover{
  color: $green-light;
  text-decoration: none;
}//end hover
//--end--COLORS------------------------


.rowOk{
  margin-left: 15px !important;
  margin-right: 15px !important;
}//end row


.material-icons{cursor: pointer;}

.breadcrumbSite{
  margin: 0;
  padding: 0;
  font-size: 1.250em;
  font-family: "Roboto-Medium", "Roboto";
  color: $gray;
}//end p


.contenedor{
  margin: 0 auto;
  font-size: 1em;
  background: $gray-light;
  min-height: 100%;

  .central{
    .central-col.ng-scope{
      position: relative;
      width: 100%;
      top: 100px;
    }//end .central-col.ng-scope
  }//end .row.central
}//end contenedor


//------LOGIN
  .boxLogin{
    background-color: $white;
    width: 380px;
    height: 370px;
    margin: auto auto;
    box-shadow: 0px 3px 5px grey;
    .headerLogin{
      width: auto;
      height: 85px;
      background-color: $green-dark;
      .imgLogin {
        position: relative;
        top: 18px;
        left: 160px;
        img{
          width: auto;
          height: 50px;
          border:1px solid yellow;
        }//end img
      }//end imgLogin
    }//end headerLogin
    .titLogin{
      width: auto;
      height: 70px;
      line-height: 70px;
      font-size: 22px;
      font-weight: bold;
      color: $gray-dark;
      position: relative;
      top: 5px;
      p{
        font-family: Roboto-Bold;
        width: 280px;
        margin-right: auto;
        margin-left: auto;
      }//end p
    }//end titLogin

  .contentLogin{
    width: 220px;
    margin-right: auto;
    margin-left: auto;
    .group{
      margin: 15px 0;
      label {
        font-size: 14px;
        font-family: "Roboto-Light";
        color: $gray;
      }//end label
      input{
        background: $white;
        width: 100%;
        border:none;
        border-bottom:1px solid $gray-light;
      }//end input
    }//end .group
  }//end contentLogin


  }//end boxLogin
//--end------LOGIN

//------HEADER
  .cabecera{
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100px;
    background: $green-dark;
    color: $white;
    padding: 0;

    .contenido_nav{
      margin: 0 auto;
      width: 979px;
      .cont_sup{
        .cabecera_center{
          height: 49px;
          padding: 10px 0 40px 0;
          .tit_cliente{
            .ng-binding{
              font-family: Roboto-Bold;
              font-size: 1.5em;
            }//end .ng-binding
          }//end .tit_cliente

          .img_open{
            img{
              float: right;
            }//end img
          }//end .img_open
        }//end .cabecera_center
      }//end .cont_sup

      .cont_inf{
        .cabecera_center{
          height: 50px;
          padding-top: 25px;
          >ul.menu_cabecera{
            li{
              display: inline-block;
              padding: 0 10px;
              height: 25px;
              a{
                color: $white;
                font-size: 1.083em;
                font-family: "Roboto-Medium", "Roboto";
                padding: 0 6px 3px 6px;
                &:hover{
                  color: $green-light;
                  text-decoration: none;
                  border-bottom: 3px solid #00e6e6;
                }//end hover
                &:focus{
                  color: $green-light;
                  text-decoration: none;
                  border-bottom: 3px solid #00e6e6;
                }//end focus
              }//end a
            }//end li
          }//end ul.menu_cabecera

          >div.lateral_derecha{
            padding: 0px;
            display: table;
            float: right;
            padding-right: 5px;

            >div{
              display: table-cell;
            }//end >div
            .nom_usuario{
              font-family: "Roboto-Medium", "Roboto";
              font-size: 1em;
              display: table-cell;
              vertical-align: top;
              height: 10px;
              a{
                color: $white;
                border-right: 1px solid $white;
                padding-right: 10px;
              }//end a
            }//end nom_usuario
            .iconos_cab{
              float: right;
              display: table-cell;
              vertical-align: top;
              height: 25px;
              a{
                color: $white;
              }//end a
            }//end iconos_cab

          }//end div.lateral_derecha

        }//.cabecera_center
      }//end .cont_inf

    }//end .contenido_nav
  }//end .cabecera
//--end------HEADER




//------TOC
  .Toc {
    margin: 0 auto;
    margin-top: 15px;
    width: 979px;
    background-color:  $white;
    box-shadow: 1px 3px 4.7px 0.3px rgba(0, 0, 0, 0.24);
    font-size: 1em;
    padding-bottom: 50px;
    margin-bottom: 40px;

    .tocHeader{
      border-bottom: 2px solid $gray-light;
      .expediente_nav_container{
        nav{
          ul{
            padding: 0;
            margin-bottom: 0px;
            height: 41px;
            li{
              display: inline-block;
              padding: 10px 20px;
              cursor: pointer;
              &:hover{
                border-bottom: 3px solid $green;
                a{
                  color: $green !important;
                  text-decoration: none;
                }//end a
              }//end hover

              &.active{
                border-bottom: 3px solid $green;
                a{
                  color: $green !important;
                  text-decoration: none;
                }//end a
              }//end active

              a{
                color: $green-dark !important;
                font-size: 1.083em;
                font-family: "Roboto-Medium", "Roboto";
              }//end a
            }//end li
          }//end ul
        }//end nav
      }//end expediente_nav_container
    }//end .tocheader

    form.tocBody{
      .ResultsListPrintRecord{
        padding: 15px 0 30px 0;
        .ResultsList{
          display: table;

          .ResultsListCaption{
            margin: 0;
            padding: 0;
            font-size: 1.250em;
            font-family: "Roboto-Medium", "Roboto";
            color: $gray;
          }//end ResultsListCaption
          .recordReview{
            margin: 0;
            padding: 0;
            display: table-cell;
            vertical-align: middle;
            input{
              display: table-cell;
              vertical-align: middle;
              margin: 0;
              padding: 0;
              border-radius: 2px;
              border-width: 1px;
              border-color:  $gray;
              border-style: solid;
              width: 20px;
              height: 20px;
            }//end input
            label{
              margin: 0;
              padding: 0;
              color: $gray;
              font-size: 0.917em;
            }//end label
          }//end recordReview
        }//end ResultsList

        .ResultsListPrint{
          .resultados_encontrados{
            color: $green-dark;
            font-size: 0.917em;
            font-family: "Roboto-Bold", "Roboto";
          }//end resultados_encontrados
          .buttonPrint{
            button{
              background: none;
              border: none;
              color: $green;
              font-weight: bold;
              &:hover {
                color: $gray;
              }
            }//end button
          }//end buttonPrint
        }//end .ResultsListPrint
      }//end .ResultsListPrintRecord

      table.resultadosTabla{
        padding: 15px;
        font-size: 1em;
        width: 96%;
        margin: 0 auto;
        tr{
          &.firstCell{
            border-bottom:2px solid $gray-light;

            th{
              text-align: left;
              font-family: "Roboto-Regular";
              color: $gray;
              width: auto;
              font-weight: normal;
              &.firstTh{
                width: 50px;
              }//end firstTh
            }//end th
          }//end tr.firstCell
          td{
            color: $green-dark;
            font-size: 0.917em;
            border-bottom: 1px solid $gray-light;
            text-align: left;
            width: auto;
            height:30px;

            md-checkbox{
              margin: 0;
            }//end md-checkbox

            &.firstTd{
              text-align: right;
              padding: 0 15px;
              i{
                &.material-icons{
                  font-size: 1.083em !important;
                  text-align: right;
                }
              }//end i
            }//end firstTd

            span{cursor: pointer;}

          }//end td
        }//end tr
      }//end table.resultadosTabla

      .contentBtnProcessUser{
        margin: 10px 0;
        padding: 0 22px;
      }//end .contentBtnProcessUser

    }//end form.tocBody

    .tocFooter{
      padding: 15px;
      color: $gray !important;
      font-size: 0.917em;
      .showResults{
        padding: 10px;
      }//end showResults
      .noBorder {
        md-input-container{
          margin:0 !important;
          padding:0px !important;
          md-select{
            .md-select-value{
              border:none;
              min-width: 20px;
              *:first-child{max-width: 30px;}
              .md-select-icon{max-width: 10px;}
            }//end .md-select-value
          }//end md-select
        }//end md-input-container
      }//end md-input-container
      .recordsPage{
        padding-top: 10px;
      }//end .recordsPage
    }//end .tocFooter
  }//end Toc
//--end------TOC

.infoReqUserTable {
  width: 100%;
}

//EXPDETAIL
  .expDetalle.cent_detalle ,
  .mpcContainer{
    background: $white;
    margin: 0 auto;
    margin-top: 15px;
    width: 979px;
    box-shadow: 1px 3px 4.7px 0.3px rgba(0, 0, 0, 0.24);
    font-size: 1em;
    padding-bottom: 50px;
    margin-bottom: 40px;
    display: table;
    max-width: 979px;

    .expHeader , .mpcTable{
      padding: 15px;
      border-bottom: 2px solid $gray-light;
      .datosDetalle{
        padding: 15px 15px 0;
        display: table;
        width: 100%;
        font-family: "Roboto-Light", "Roboto";
        font-size: 1em;
        .infoDatos{
          display: table-cell;
          >div{
            color: $gray;
            font-family: Roboto-Regular;
            font-size: 1em;
          }//end ng-binding
          .contNum{
            color: $green-dark;
          }//end .contNum
        }//end infoDatos
      }//end datosDetalle
    }//end .expHeader - mpcTable
    .mpcTable{
      border: none;
    }//end mpcTable

    .expBody{
      margin-top: 15px;
      .titTitular{
        font-family: "Roboto-Bold", "Roboto";
        font-size: 1.167em;
        padding: 0 30px;
      }//end titTitular
      .datosDetalle {
        display: table;
        font-family: Roboto-Light;
        color:#727272;
        font-size: 1em;
        padding: 0 30px;
        .infoDatos {
          display: table-cell;
          font-size: 1em;
          label{
            color: $gray;
            font-family: Roboto-Regular;
            font-size: 1em;
            font-weight: normal;
          }//end label
          p{
            font-family: Roboto-Regular;
            font-size: 1em;
            color: $green-dark;
          }//end p

        }//end infoDatos

      }//end datosDetalle

      .centertable{
        /*
        padding: 0 30px;
        */
        padding: 0;
        table.customBorder{
          margin: 15px 2.5%;
          width: 95%;
        }//end table.customBorder
      }//end centertable

      .textAquaDark{
        padding: 26px 30px 0 0;
      }//end textAquaDark

      .centertable{
        table{
          width: 100%;
          tr{
            text-align: center;
            color: $green;
            border:1px solid $gray-light;
            td{
              vertical-align: middle;
              &:focus{
                background: $blue-light ;
              }//end focus
              &:hover{
                background: $blue-light ;
              }//end hover
              p{
                padding: 0;
                margin: 0;
                font-size: 0.8333em;
                font-family: "Roboto-Bold", "Roboto";
              }//end p
            }//end td
          }//end tr
        }//end table

        .infoReqUserTable{
          background: $blue-light !important;
          width: 100%;
          position: relative;
          padding: 0 45px;
          min-height: 100%;
          color: $green-dark;
          height: 100%;
          display: inline-block;
          margin: 25px 0;

          .encabezadoDespleg{
            height: 30px;
            margin: 15px 0;
            .tituloDesplegable{
              padding: 13px 0 0 0;
              font-size: 1.167em;
              font-family: Roboto-Regular;
            }//end tituloDesplegable
            .xCerrar{
              padding: 13px 0 0 0;
            }//end xCerrar
          }//end encabezadoDespleg
          .tablaDoc{
            border:1px solid $gray-light;
            background: $white;
            padding: 10px 0 0 0;
            margin-bottom: 25px;

            table.tablaDesplegable{
              box-shadow: 1px 3px 4.7px 0.3px rgba(0, 0, 0, 0.24);
              margin: 0;
              tr{
                border: none;
                td {
                  padding: 0 20px;
                }
              }//end tr
              tr.tableTit{
                font-family:Roboto-Regular;
                font-size: 1em;
                p{
                  font-family:Roboto-Regular;
                  color: $gray;
                  font-size: 1em;
                  text-align: left;
                }//end p
              }//end tableTit
              tr.tableData{
                font-family: Roboto-light;
                font-size: 1.167em;
                color: $green-dark;

                td{
                  border-top: 1px solid #ddd;
                  padding-top: 5px;
                  p{
                    font-family: Roboto-Regular;
                    font-size: 0.8333em;
                    color: #263238;
                    text-align: left;
                  }//end p

                  i{
                    float: left;
                    margin: 0 0 3px 10px;
                  }//end i

                }//end td
              }//end tableData
            }//end tablaDesplegable
          }//end tablaDoc
          .addDocumentContent{
            padding: 0;
            .addDocumentFileContent{
              .addDocumentFile{
                position: relative;
                overflow: hidden;
                margin: 10px;
              }//end addDocumentFile

              .fileName{
                display: none;
              }//end fileName
            }//end addDocumentFileContent

            .standContainer{
              font-family: Roboto-Regular !important;
              md-input-container{
                padding: 0;
                md-select{
                  .md-select-value{
                    background: transparent;
                    padding-top: 0;
                    border-bottom: 1px solid $gray;
                    span{
                      color: $gray-dark !important;
                    }//end span
                  }//end md-select-value
                }//end md-select
              }//end md-input-container
            }//end standContainer

            .textAquaDark{
              display: block;
              padding: 10px 0;
            }//end textAquaDark

            .buttonDefault{
              margin: 20px 0;
            }//end .buttonDefault

          }//end .addDocumentContent
        }//end infoReqUserTable

      }//end .centertable

    }//end expBody

    .cent_buscador{
      padding-top: 20px;
      .datosDetalle {
        display: table;
        font-family: Roboto-Light;
        color:#727272;
        font-size: 1em;

        >div{
          display: table;
          min-height: 50px;
          margin: 10px 0;

          div.infoDatos ,
          >md-input-container ,
          >div{
          display: table-cell;

            >div.margInf ,
            >div.contNum ,
            >label ,
            >md-select ,
            >input ,
            >md-datepicker{
              display: table-caption;

              .md-button.md-icon-button{width: auto;}
              md-datepicker{padding: 0;}
              .md-button.md-icon-button{margin: 0;padding: 0;}
              .md-datepicker-input{max-width:auto !important;min-width:auto !important;}
            }//end
          }//end md-input-container
        }//end div

      }//end datosDetalle
    }//end cent_buscador

    .thirdDirective{
      padding: 15px;
      font-family: Roboto-Medium;
      font-size: 1em;

      .tit{
        font-size: 1.250em;
        color: #999;
        padding: 0 0 10px 0;
      }//end tit

      .thirdDirectiveTable{
        display: table;
        height: 100%;
        md-input-container{
          display: table-cell;

          label{
            position: relative !important;
            font-size: 1.200em;
            font-family: Roboto-Regular;
            color: $gray;
            margin-bottom: 0;
          }//end label
          input{
            display: table-cell;
            font-size: 1em;
            color: $green-dark;
            background-image: none;
          }//end input
        }//end md-input-container
      }//end thirdDirectiveTable

      .thirdDirectiveChecks{
        padding: 15px;
        display: table;
        height: 100%;
        label{
          font-weight: normal;
          font-size: 1em;
          color: $gray;
        }//end label
        md-checkbox{
          span{
            color: $green-dark;
          }//end span
        }//end md-checkbox
        md-input-container{
          margin-left: 15px;
        }//end md-input-container
      }//end thirdDirectiveChecks

    }//end thirdDirective


  }//end expDetalle
//--end------EXPDETAIL

//-----VER MÁS DATOS-----
  .userDetailContent{
    background: $white;
    margin: 0 auto;
    margin-top: 15px;
    width: 979px;
    box-shadow: 1px 3px 4.7px 0.3px rgba(0, 0, 0, 0.24);
    font-size: 1em;
    padding-bottom: 50px;
    margin-bottom: 40px;
    padding: 15px;
    display: table;
    max-width: 979px;
    .datosDetalle {
      display: table;
      font-family: Roboto-Light;
      color:#727272;
      font-size: 1em;
      margin: 15px 0;
      margin: 15px 0;

      .infoDatos{
        display: table-cell;
        font-size: 1em;
        padding: 0 15px;

        label{
          color: $gray;
          font-family: Roboto-Regular;
          font-size: 1em;
          font-weight: normal;
        }//end label
        p{
          font-family: Roboto-Regular;
          font-size: 1em;
          color: $green-dark;
        }//end p
      }//end infoDatos
    }//end datosDetalle
  }//end userDetailContent
//--end---VER MÁS DATOS--

html, body {
  background: #dadada !important;
} // end html, body

