<div>
    <div>
        Modificaci&oacute;n de datos de cliente
    </div>
    <div>
        <md-input-container>
            <label>Estado</label>
            <md-select ng-model="estados">
                <md-option ng-value="stateOption" ng-repeat="stateOption in statesOptions.choices track by $index">{{stateOption}}</md-option>
            </md-select>
        </md-input-container>
    </div>
    <div>
        <table>
            <tr>
                <td>{{literalHeader.nombre}}</td>
                <td>{{infoUser.nombre}}</td>
                <td>{{infoUserBdp.nombre}}</td>
            </tr>
            <tr>
                <td>{{literalHeader.primerApe}}</td>
                <td>{{infoUser.ape1}}</td>
                <td>{{infoUserBdp.primerApe}}</td>
            </tr>
            <tr>
                <td>{{literalHeader.segundoApe}}</td>
                <td>{{infoUser.ape2}}</td>
                <td>{{infoUserBdp.segundoApe}}</td>
            </tr>
            <tr>
                <td>{{literalHeader.TipoDoc}}</td>
                <td>{{infoUser.tipoDoc}}</td>
                <td>{{infoUserBdp.TipoDoc}}</td>
            </tr>
            <tr>
                <td>{{literalHeader.numDoc}}</td>
                <td>{{infoUser.numDoc}}</td>
                <td>{{infoUserBdp.TipoDoc}}</td>
            </tr>
            <tr>
                <td>{{literalHeader.dateNac}}</td>
                <td>{{infoUser.fechaNac}}</td>
                <td>{{infoUserBdp.TipoDoc}}</td>
            </tr>
            <tr>
                <td>{{literalHeader.sexo}}</td>
                <td>{{infoUser.sexo}}</td>
                <td>{{infoUserBdp.TipoDoc}}</td>
            </tr>
            <tr>
                <td>{{literalHeader.nacionalidad}}</td>
                <td>{{infoUser.nacionalidad}}</td>
                <td>{{infoUserBdp.TipoDoc}}</td>
            </tr>
            <tr>
                <td>{{literalHeader.tipoVia}}</td>
                <td>{{infoUser.tipoVia}}</td>
                <td>{{infoUserBdp.TipoDoc}}</td>
            </tr>
            <tr>
                <td>{{literalHeader.nombreVia}}</td>
                <td>{{infoUser.nombreVia}}</td>
                <td>{{infoUserBdp.TipoDoc}}</td>
            </tr>
            <tr>
                <td>{{literalHeader.numero}}</td>
                <td>{{infoUser.numero}}</td>
                <td>{{infoUserBdp.TipoDoc}}</td>
            </tr>
            <tr>
                <td>{{literalHeader.piso}}</td>
                <td>--</td>
                <td>{{infoUserBdp.TipoDoc}}</td>
            </tr>
            <tr>
                <td>{{literalHeader.codPostal}}</td>
                <td>{{infoUser.codigoPostal}}</td>
                <td>{{infoUserBdp.TipoDoc}}</td>
            </tr>
            <tr>
                <td>{{literalHeader.localidad}}</td>
                <td>--</td>
                <td>{{infoUserBdp.TipoDoc}}</td>
            </tr>
            <tr>
                <td>{{literalHeader.provincia}}</td>
                <td>{{infoUser.provincia}}</td>
                <td>{{infoUserBdp.TipoDoc}}</td>
            </tr>
            <tr>
                <td>{{literalHeader.pais}}</td>
                <td>{{infoUser.pais}}</td>
                <td>{{infoUserBdp.TipoDoc}}</td>
            </tr>
            <tr>
                <td>{{literalHeader.mobilePhone}}</td>
                <td>{{infoUser.telefonoMovil}}</td>
                <td>{{infoUserBdp.TipoDoc}}</td>
            </tr>
            <tr>
                <td>{{literalHeader.phone}}</td>
                <td>{{infoUser.telefonoFijo}}</td>
                <td>{{infoUserBdp.TipoDoc}}</td>
            </tr>
            <tr>
                <td>{{literalHeader.email}}</td>
                <td>{{infoUser.email}}</td>
                <td>{{infoUserBdp.TipoDoc}}</td>
            </tr>
        </table>
    </div>
</div>