<div class="cent_detalle">
    <div ng-controller="ExpDetailHeaderController">
        <exp-detail-header info-header="infoHeader" info-expediente="infoExpediente" open-dialog="openDialog" go-to-obs="goToObs"></exp-detail-header>
    </div>
    <div ng-controller="ExpDetailBodyController">
        <exp-detail-body info-header="infoHeader" info-req-user="infoReqUser" get-user-detail="getUserDetail" show-detail="showDetail" show-info="showInfo" is-selfie="isSelfie"></exp-detail-body>
    </div>
</div>