<div class="cent_detalle expDetalle">
    <div ng-controller="ExpDetailHeaderController">
        <exp-detail-header info-header="infoHeader" obj-name-tit="objNameTit" info-expediente="infoExpediente" open-dialog="openDialog" go-to-obs="goToObs" is-obs="isObs" is-td="isTd" motivos-options="motivosOptions" pte-cancel-exp="pteCancelExp" select-motivo="selectMotivo"></exp-detail-header>
    </div>
    <div ng-controller="ExpDetailBodyController">
        <exp-detail-body info-header="infoHeader" info-req-user="infoReqUser" get-user-detail="getUserDetail" show-detail="showDetail" show-info="showInfo" get-state-req="getStateReq"></exp-detail-body>
    </div>
    <div class="col-sm-12">
        <button id="backButton" class="buttonDefault btn-white pull-right">VOLVER</button>
    </div>
</div>