<div class="cent_detalle">
    <div class="col s12 noPadding form_detalle_expediente_container top">
        <p class="bigger-font-size">Detalle del expediente</p>
    </div>
    <button class="btn waves-effect waves-light button-medium bttRequer">CANCELAR EXPEDIENTE</button>
    <button class="btn waves-effect waves-light button-medium">OBSERVACIONES</button>
    <div class="col s12 datosDetalle">
        <div class="infoDatos">
            <div>IBAN</div>
            <div class="contNum">ES89</div>
        </div>
        <div class="infoDatos">
            <div>Entidad</div>
            <div class="contNum">2229</div>
        </div>
        <div class="infoDatos">
            <div>Oficina</div>
            <div class="contNum">9598</div>
        </div>
        <div class="infoDatos">
            <div>DC</div>
            <div class="contNum">95</div>
        </div>
        <div class="infoDatos masPad">
            <div>Cuenta</div>
            <div class="contNum">{{expInfo.num_cuenta}}</div>
        </div>
        <div class="infoDatos masPad">
            <div>Estado</div>
            <div class="contNum">{{expInfo.estado}}</div>
        </div>
        <div class="infoDatos masPad">
            <div>Fecha alta</div>
            <div class="contNum">{{expInfo.fecha_alta}}</div>
        </div>
        <div class="infoDatos masPad">
            <div>Fecha modificaci&oacute;n</div>
            <div class="contNum">{{expInfo.fecha_mod}}</div>
        </div>
    </div>

    <div class="col s12">
        <div class="row" ng-repeat="user in usersInfo">
            <div class="titTitular">{{user.tipoUser}}</div>
            <div class="col s2" style="height:40px;">
                <label for="nombre" class="blue-color">Nombre</label>
                <p id="nombre" class="bold">{{user.nombre}}</p>
            </div>
            <div class="col s2" style="height:20px;">
                <label for="ape1" class="blue-color">Primer Apellido</label>
                <p id="ape1" class="bold">{{user.ape1}}</p>
            </div>
            <div class="col s2" style="height:20px;">
                <label for="ape2" class="blue-color">Segundo Apellido</label>
                <p id="ape2" class="bold">{{user.ape2}}</p>
            </div>
            <div class="col s2" style="height:20px;">
                <label for="tipoDoc" class="blue-color">{{user.tipoDoc}}</label>
                <p id="tipoDoc" class="bold">{{user.numDoc}}</p>
            </div>
            <div class="col s2 offset-s2 text-right-bottom">
                <br>
                <div class="blue-color clickable">VER M&Aacute;S DATOS</div>
            </div>
            <div class="col s12 row centertable">
                <table class="customBorder">
                    <tbody>
                        <tr>
                            <td>
                                <div>
                                    <p class="blue-color">DOC</p>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <p class="blue-color">SELFIE</p>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <p class="blue-color">DSC</p>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <p class="blue-color">DAAL</p>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <p class="blue-color">RECIBO</p>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <p class="blue-color">IC</p>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <p class="blue-color">CERTIF.</p>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <p class="blue-color">FONDOS</p>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <p class="blue-color">RD54</p>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <p class="blue-color">3&ordf; DIR</p>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <p class="blue-color">MDPC</p>
                                </div>
                            </td>
                        </tr>
                        <!-- SEGUNDA FILA -->
                        <tr>
                            <td>
                                <div>
                                    <i class="material-icons check"></i>
                                </div>
                            </td>
                            <td ng-click="expand = !expand">
                                <div>
                                    <i class="material-icons error"></i>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <i class="material-icons warning"></i>
                                </div>
                            </td>
                            <td  ng-click="expand2 = !expand2">
                                <div>
                                    <i class="material-icons inactive"></i>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <i class="material-icons no_sim"></i>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <i class="material-icons inactive"></i>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <i class="material-icons inactive inactive-disabled"></i>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <i class="material-icons inactive"></i>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <i class="material-icons inactive"></i>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <i class="material-icons {{user.thirdDir}}"></i>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <i class="material-icons inactive"></i>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="slideSelfie" ng-show="expand">Prueba de desplegable para Selfie</div>
                <div class="slideDAAL" ng-show="expand2">Prueba de desplegable para DAAL</div>
            </div>
        </div>
    </div>




</div>