<div id="menuListado">
    <div class="col s12 noPadding expediente_nav_container">
        <nav>
            <ul id="expediente_nav" class="menu_nav expediente_nav">
                <li>
                    <a href="#/">{{headerInfo.pteValidar}}</a>
                </li>
                <li>
                    <a href="#/">{{headerInfo.pteCancelar}}</a>
                </li>
                <li style="padding-left:20px;">
                    <a href="#/">{{headerInfo.pteFIOC}}</a>
                </li>
                <li>
                    <a href="#/">{{headerInfo.activados}}</a>
                </li>
            </ul>
        </nav>
    </div>
</div>