<div id="menuListado" ng-controller="TocHeaderController">
    <div class="col s12 noPadding expediente_nav_container">
        <nav>
            <ul id="expediente_nav" class="menu_nav expediente_nav">
                <li>
                    <a href="#/">{{tocheaderInfo.pteValidar}}</a>
                </li>
                <li>
                    <a href="#/">{{tocheaderInfo.pteCancelar}}</a>
                </li>
                <li style="padding-left:20px;">
                    <a href="#/">{{tocheaderInfo.pteFIOC}}</a>
                </li>
                <li>
                    <a href="#/">{{tocheaderInfo.activados}}</a>
                </li>
            </ul>
        </nav>
    </div>
</div>