<div>
    <script type="text/ng-template" id="firstDialog">
        <div class="ngdialog-message">
            <h5>Cancelaci&oacute;n del expediente</h5>
            <md-input-container>
                <label>Motivo*</label>
                <md-select ng-model="estados">
                    <md-option ng-repeat="stateOption in statesOptions.choices">{{stateOption}}</md-option>
                </md-select>
            </md-input-container>
            <md-input-container class="campoForm masPad offset-s1">
                <label for="comentario" style="color:#76777a;font-size: 14px;">Comentario</label>
                <textarea id="comentario" class="validate"></textarea>
            </md-input-container>
        </div>
        <div class="ngdialog-buttons mt">
            <button type="button" class="ngdialog-button ngdialog-button-secondary">Aceptar</button>
        </div>
    </script>
    <div class="col s12 noPadding form_detalle_expediente_container top">
        <p class="bigger-font-size">Detalle del expediente</p>
    </div>
    <button class="btn waves-effect waves-light button-medium bttRequer" ng-click="openDialog()">CANCELAR EXPEDIENTE</button>
    <button class="btn waves-effect waves-light button-medium" ng-click="goToObs(infoExpediente.id)">OBSERVACIONES</button>
    <div class="col s12 datosDetalle">
        <div class="infoDatos">
            <div>{{infoHeader.IBANText}}</div>
            <div class="contNum">{{infoHeader.IBANNumber}}</div>
        </div>
        <div class="infoDatos">
            <div>{{infoHeader.EntidadText}}</div>
            <div class="contNum">{{infoHeader.EntidadNumber}}</div>
        </div>
        <div class="infoDatos">
            <div>{{infoHeader.OficinaText}}</div>
            <div class="contNum">{{infoHeader.OficinaNumber}}</div>
        </div>
        <div class="infoDatos">
            <div>{{infoHeader.DCText}}</div>
            <div class="contNum">{{}}</div>
        </div>
        <div class="infoDatos masPad">
            <div>Cuenta</div>
            <div class="contNum">{{infoExpediente.num_cuenta}}</div>
        </div>
        <div class="infoDatos masPad">
            <div>Estado</div>
            <div class="contNum">{{infoExpediente.estado}}</div>
        </div>
        <div class="infoDatos masPad">
            <div>Fecha alta</div>
            <div class="contNum">{{infoExpediente.fecha_alta | date : 'dd/MM/yyyy'}}</div>
        </div>
        <div class="infoDatos masPad">
            <div>Fecha modificaci&oacute;n</div>
            <div class="contNum">{{infoExpediente.fecha_mod | date : 'dd/MM/yyyy'}}</div>
        </div>
    </div>
</div>