<div class="expHeader">
    <script type="text/ng-template" id="firstDialog">
        <div class="ngdialog-message cancelRecordModal col-sm-12">
            <h5>Cancelaci&oacute;n del expediente</h5>
            <md-input-container class="col-sm-8">
                <label>Motivo*</label>
                <md-select ng-model="motivo" ng-change="selectMotivo(motivo)">
                    <md-option  ng-value="motivo" ng-repeat="motivo in motivosOptions.choices track by $index">{{motivo}}</md-option>
                </md-select>
            </md-input-container>
        </div>
        <div class="ngdialog-buttons mt">
            <button type="button" class="btnAccept cursorPointer pull-right" ng-click="pteCancelExp()">ACEPTAR</button>
        </div>
    </script>
    <div class="col-sm-6 breadcrumbSite">
        <p class="bigger-font-size">Detalle del expediente</p>
    </div>
    <div ng-hide="isObs || isTd" class="pull-right bttDetailExp">
        <button class="buttonDefault btn-white" ng-click="openDialog()">CANCELAR EXPEDIENTE</button>
        <button ng-show="" class="buttonDefault" ng-click="goToObs(infoExpediente.id)">OBSERVACIONES</button>
    </div>
    <div class="datosDetalle">
        <div class="infoDatos">
            <div>{{infoHeader.IBANText}}</div>
            <div class="contNum">{{infoHeader.IBANNumber}}</div>
        </div>
        <div class="infoDatos">
            <div>{{infoHeader.EntidadText}}</div>
            <div class="contNum">{{infoHeader.EntidadNumber}}</div>
        </div>
        <div class="infoDatos">
            <div>{{infoHeader.OficinaText}}</div>
            <div class="contNum">{{infoHeader.OficinaNumber}}</div>
        </div>
        <div class="infoDatos">
            <div>{{infoHeader.DCText}}</div>
            <div class="contNum"></div>
        </div>
        <div class="infoDatos masPad">
            <div>Cuenta</div>
            <div class="contNum">{{infoExpediente.num_cuenta | limitTo: 10 : 10}}</div>
        </div>
        <div class="infoDatos masPad">
            <div>Estado</div>
            <div class="contNum">{{infoExpediente.estado}}</div>
        </div>
        <div class="infoDatos masPad">
            <div>Fecha alta</div>
            <div class="contNum">{{infoExpediente.fecha_alta | date : 'dd/MM/yyyy'}}</div>
        </div>
        <div class="infoDatos masPad">
            <div>Fecha modificaci&oacute;n</div>
            <div class="contNum">{{infoExpediente.fecha_mod | date : 'dd/MM/yyyy'}}</div>
        </div>
    </div>
</div>