<div id="infoDesplegable" style="display:none;" class="infoReqUserTable">
    <div class="encabezadoDespleg">
        <div class="tituloDesplegable col-sm-11">{{datosReq.title}}</div>
        <div class="xCerrar pull-right"><i class="material-icons" ng-click="closeDesplegable()">clear</i></div>
    </div>
    <div ng-show="isRd">
        <md-input-container>
            <label for="iban">IBAN</label>
            <input id="iban" class="validate" type="text" ng-model="iban">
        </md-input-container>
        <md-input-container>
            <label for="entidad">Entidad</label>
            <input id="entidad" class="validate" type="text" ng-model="entidad">
        </md-input-container>
        <md-input-container>
            <label for="oficina">Oficina</label>
            <input id="oficina" class="validate" type="text" ng-model="oficina">
        </md-input-container>
        <md-input-container>
            <label for="dc">DC</label>
            <input id="dc" class="validate" type="text" ng-model="dc">
        </md-input-container>
        <md-input-container>
            <label for="cuenta">N&uacute;mero de cuenta</label>
            <input id="cuenta" class="validate" type="text" ng-model="cuenta">
        </md-input-container>
    </div>
    <div class="tablaDoc" ng-show="files.length>0 || isSelfie || isTd" ng-hide="isFondos">
        <table class="tablaDesplegable">
            <thead>
                <tr class="tableTit">
                    <td ng-repeat="headerValue in infoHeader">
                        <div>
                            <p class="medium">{{headerValue}}</p>
                        </div>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr ng-show="isSelfie" class="tableData">
                    <td ng-repeat="req in infoReq">
                        <div ng-hide="$last || $index === 2">
                            <p>{{req}}</p>
                        </div>
                        <div ng-show="$index === 2">
                            <p>{{req | date : 'dd/MM/yyyy HH:mm'}}</p>
                        </div>
                        <div ng-show="$last">
                            <i class="material-icons icon_{{req}}">{{req}}</i>
                        </div>
                    </td>
                </tr>
                <tr ng-hide="isSelfie || isFondos || isTd" ng-repeat="file in files = (filesUser | filterBy: ['reqAsociado']: 'req_'+datosReq.reqDeployed+'_estado' | filterBy: ['tipoUser']: datosReq.tipoUserReq)">
                    <td>
                        <p>{{file.nameFile}}</p>
                    </td>
                    <td>
                        <p>{{file.gestor}}</p>
                    </td>
                    <td>
                        <p>{{file.fechaCreacion | date : 'dd/MM/yyyy HH:mm'}}</p>
                    </td>
                    <td ng-click="openDialog(file)">
                        <p class="blue-color"><i class="material-icons icon_visibility">visibility</i></p>
                    </td>
                </tr>
                <tr ng-show="isTd">
                    <td>
                        <p>Alto</p>
                    </td>
                    <td>
                        <p>usuarioEstandard1</p>
                    </td>
                    <td>
                        <p>03/12/2015 14:32</p>
                    </td>
                    <td ng-click="goToCuestionario()">
                        <p class="blue-color"><i class="material-icons icon_visibility">visibility</i></p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div ng-hide="isSelfie || isTd || isDoc" class="col-sm-12 addDocumentContent">
        <div ng-hide="isFondos">
            <div class="file-field input-field addDocumentFileContent">
                <div class="addDocumentFile col-sm-12">
                    <span class="btnFile textAquaDark pull-right">
                        <div ng-show="true">{{dataFilesUser["Titular"][0].gestor}}</div>
                        A&Ntilde;ADIR DOCUMENTO <input type="file" name="file" id="file" class="inputfile col-sm-2" ng-model='fileToUpload' multiple base-sixty-four-input onload="onLoad">
                    </span>
                </div>
                <div class="file-path-wrapper pull-left col-sm-6 fileName">
                    <input class="file-path validate col-sm-12" type="text">
                </div>
            </div>
        </div>

        <div class="col-sm-12 standContainer">
            <div class="select-wrapper pull-left">
                <md-input-container>
                    <label>Estado</label>
                    <md-select ng-model="estado" ng-change="selectEstado(estado)">
                        <md-option ng-selected="estado==datosReq.estado" ng-repeat="estado in statesOptions.choices track by $index">{{estado}}</md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div ng-show="estadoReqCombo=='Requisito rechazado'" class="input-field pull-left rowOk">
                <md-input-container>
                    <label>Motivo</label>
                    <md-select ng-model="motivo" ng-change="selectMotivo(motivo)">
                        <md-option ng-repeat="motivo in motivosOptions.choices track by $index">{{motivo}}</md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div ng-show="motivoReqCombo=='Otros'" class="input-field pull-left">
                <md-input-container>
                    <label>Comentario</label>
                    <input class="validate" type="text" ng-model="comentarioRechazo">
                </md-input-container>
            </div>
        </div>
        <div class="col-sm-12">
            <button class="buttonDefault pull-right" ng-click="updateExp()">GUARDAR</button>
        </div>
    </div>
</div>