<div id="infoDesplegable" style="display:none;" class="infoReqUserTable">
    <div class="encabezadoDespleg">
        <div class="tituloDesplegable col-sm-11">{{datosReq.title}}</div>
        <div class="xCerrar pull-right"><i class="material-icons" ng-click="closeDesplegable()">clear</i></div>
    </div>
    <div ng-show="isRd">
        <md-input-container>
            <label for="iban">IBAN</label>
            <input id="iban" class="validate" type="text" ng-model="iban">
        </md-input-container>
        <md-input-container>
            <label for="entidad">Entidad</label>
            <input id="entidad" class="validate" type="text" ng-model="entidad">
        </md-input-container>
        <md-input-container>
            <label for="oficina">Oficina</label>
            <input id="oficina" class="validate" type="text" ng-model="oficina">
        </md-input-container>
        <md-input-container>
            <label for="dc">DC</label>
            <input id="dc" class="validate" type="text" ng-model="dc">
        </md-input-container>
        <md-input-container>
            <label for="cuenta">N&uacute;mero de cuenta</label>
            <input id="cuenta" class="validate" type="text" ng-model="cuenta">
        </md-input-container>
    </div>
    <div class="tablaDoc">
        <table class="tablaDesplegable">
            <tbody>
                <tr ng-hide="isFondos" class="tableTit">
                    <td ng-repeat="headerValue in infoHeader">
                        <div>
                            <p class="medium">{{headerValue}}</p>
                        </div>
                    </td>
                </tr>
                <tr class="tableData">
                    <td>
                        <div>
                            <p class="">nomina_agosto2015.jpg</p>
                        </div>
                    </td>
                    <td>
                        <div>
                            <p class="">Berta Sánchez</p>
                        </div>
                    </td>
                    <td>
                        <div>
                            <p class="">25/07/2015</p>
                        </div>
                    </td>
                    <td>
                        <div>
                            <p class=""> 13:27</p>
                        </div>
                    </td>
                    <td>
                        <div>
                            <p class="blue-color"><i class="material-icons icon_visibility">visibility</i></p>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div ng-hide="isSelfie || isTd" class="col-sm-12">
        <div ng-hide="isFondos" class="col-sm-6">
            <div class="file-field input-field">
                <div>
                    <a class="col-sm-12">A&Ntilde;ADIR DOCUMENTO</a>
                    <input type="file" name="file" id="file" class="inputfile" ng-model='fileToUpload' multiple base-sixty-four-input onload="onLoad">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="select-wrapper">
                <md-input-container>
                    <label>Estado</label>
                    <md-select ng-model="estados">
                        <md-option ng-value="stateOption" ng-repeat="stateOption in statesOptions.choices track by $index">{{stateOption}}</md-option>
                    </md-select>
                </md-input-container>
            </div>
        </div>
        <div class="input-field col s3 offset-s1">
            <!-- <div class="select-wrapper">
                <span class="caret">?</span>
                <input type="text" class="select-dropdown" readonly="true" data-activates="select-options-a156e194-91fa-537b-a903-8841806d2252" value="Rechazado">
                <ul id="select-options-a156e194-91fa-537b-a903-8841806d2252" class="dropdown-content select-dropdown">
                    <li class="">
                        <span>Rechazado</span>
                    </li>
                    <li class="">
                        <span>Aceptado</span>
                    </li>
                    <li class="">
                        <span>En proceso</span>
                    </li>
                </ul>
                <select class="initialized">
                    <option value="1" selected="">Rechazado</option>
                    <option value="2">Aceptado</option>
                    <option value="3">En proceso</option>
                </select>
            </div>
            <label>Motivo</label> -->
        </div>
        <div class="input-field col s4 offset-s1">
            <!--<input id="comentario" type="text">
            <label>Comentario</label> -->
        </div>
        <div>
            <button class="buttonDefault">GUARDAR</button>
        </div>
    </div>
</div>