<div class="col s12">
    <div class="row" ng-repeat="user in infoReqUser">
        <div class="titTitular">{{user.dataUser.tipoUser}}</div>
        <div class="col s2" style="height:40px;">
            <label for="nombre" class="blue-color">Nombre</label>
            <p id="nombre" class="bold">{{user.dataUser.nombre}}</p>
        </div>
        <div class="col s2" style="height:20px;">
            <label for="ape1" class="blue-color">Primer Apellido</label>
            <p id="ape1" class="bold">{{user.dataUser.ape1}}</p>
        </div>
        <div class="col s2" style="height:20px;">
            <label for="ape2" class="blue-color">Segundo Apellido</label>
            <p id="ape2" class="bold">{{user.dataUser.ape2}}</p>
        </div>
        <div class="col s2" style="height:20px;">
            <label for="tipoDoc" class="blue-color">{{user.dataUser.tipoDoc}}</label>
            <p id="tipoDoc" class="bold">{{user.dataUser.numDoc}}</p>
        </div>
        <div class="col s2 offset-s2 text-right-bottom">
            <br>
            <div class="blue-color clickable" ng-click="getUserDetail(user.dataUser)">VER M&Aacute;S DATOS</div>
        </div>
        <div class="col s12 row centertable">
            <table class="customBorder">
                <tbody>
                    <tr>
                        <td ng-repeat="element in infoHeader">
                            <div>
                                <p class="blue-color">{{element}}</p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td ng-repeat="element in user.dataReqUser track by $index">
                            <div>
                                <i class="material-icons">{{element}}</i>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="slideSelfie" ng-show="expand">Prueba de desplegable para Selfie</div>
            <div class="slideDAAL" ng-show="expand2">Prueba de desplegable para DAAL</div>
        </div>
    </div>
</div>