<div class="expBody">
    <div ng-repeat="user in infoReqUser">
        <div class="titTitular col-sm-12">{{user.dataUser.tipoUser}}</div>
        <div class="datosDetalle col-sm-8">
            <div class="col s2 infoDatos">
                <label for="nombre" class="regular">Nombre</label>
                <p id="nombre" class="regularBold">{{user.dataUser.nombre}}</p>
            </div>
            <div class="col s2 infoDatos">
                <label for="ape1" class="regular">Primer Apellido</label>
                <p id="ape1" class="regularBold">{{user.dataUser.ape1}}</p>
            </div>
            <div class="col s2 infoDatos">
                <label for="ape2" class="regular">Segundo Apellido</label>
                <p id="ape2" class="regularBold">{{user.dataUser.ape2}}</p>
            </div>
            <div class="col s2 infoDatos">
                <label for="tipoDoc" class="regular">{{user.dataUser.tipoDoc}}</label>
                <p id="tipoDoc" class="regularBold">{{user.dataUser.numDoc}}</p>
            </div>
        </div>

            <div class="pull-right textAquaDark cursorPointer" ng-click="getUserDetail(user.dataUser.id)">VER M&Aacute;S DATOS</div>

        <div class="centertable">
            <table class="customBorder">
                <tbody>
                    <tr>
                        <td ng-repeat="element in infoHeader">
                            <div>
                                <p class="blue-color">{{element}}</p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td ng-click="showInfo(user.dataUser.tipoUser + $index, user.dataUser.id, user.dataUser.objName, element)" ng-repeat="element in user.dataReqUser track by $index">
                            <div>
                                <md-tooltip ng-show="element!='NA'">
                                    {{getStateReq(element)}}
                                </md-tooltip>
                                <i class="material-icons icon_{{element}}">{{element}}</i>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div ng-controller="infoReqUserController">
                <info-req-user-detail class="desplegable {{user.dataUser.tipoUser + $index}}" ng-repeat="element in user.dataReqUser track by $index" datos-req="datosReq" info-header="infoHeader" is-selfie="isSelfie" is-fondos="isFondos" is-rd="isRd" is-td="isTd" is-doc="isDoc" on-load="onLoad" close-desplegable="closeDesplegable" states-options="statesOptions" motivos-options="motivosOptions" info-req="infoReq" select-estado="selectEstado" select-motivo="selectMotivo" estado-req-combo="estadoReqCombo" motivo-req-combo="motivoReqCombo" num-results-docs="numResultsDocs" update-exp="updateExp" open-dialog="openDialog" go-to-cuestionario="goToCuestionario"></info-req-user-detail>
            </div>
        </div>
    </div>
</div>