<form class="form_mostrar_container tocBody">
    <div class="ResultsListPrintRecord">
        <div class="ResultsList col-sm-12">
            <p class="noPadding bigger-font-size ResultsListCaption col-sm-6">Lista de resultados</p>
            <p ng-show="!isFioc()" class="pull-right recordReview fieldset">
                <input ng-model="hideLocked" type="checkbox" class="filled-in" id="filled-in-box">
                <label for="filled-in-box">Ocultar expediente en revisi&oacute;n</label>
            </p>
        </div>
        <div class="ResultsListPrint">
            <div class="noPadding resultados_encontrados col-sm-6">Se han encontrado <span class="resultado_numero">{{tableResults.numResults}}</span>
                resultados
            </div>
            <div class="col-sm-6 buttonPrint">
                <button ng-show="tipoApp === 'bo'" field-separator=";" add-bom="true" type="button" csv-header="exportExcel[0]" ng-csv="exportExcel[1]" filename="expedientes.csv" class="material-icons icon_print pull-right">get_app</button>
                <input ng-show="tipoApp === 'cc'" type="text" ng-model="agentToSearch"/>
                <button ng-show="tipoApp === 'cc'" type="button" class="material-icons icon_print pull-right">search</button>
                <button ng-click="printPage()" type="button" class="material-icons icon_print pull-right">print</button>
            </div>
        </div>
    </div>
    <div>
        <table class="bordered highlight lowSize resultadosTabla text-center myDivToPrint col-sm-12" ng-class="{tableFioc: isFioc()}">
            <thead>
            <tr ng-show="!isFioc() && !isBloqueo()" class="firstCell">
                <th ng-hide="isPteCancel() || tipoApp === 'cc'" title="Impactado" data-field="impactado" class="firstTh"></th>
                <th ng-show="tipoApp === 'cc'" title="Avisos" data-field="avisos">{{tableInfo.avisos}}</th>
                <th title="Número de cuenta" data-field="n_cuenta">{{tableInfo.numCuenta}}</th>
                <th title="Canal" data-field="canal">{{tableInfo.canal}}</th>
                <th title="Intervinientes" data-field="intervinientes">{{tableInfo.interv}}</th>
                <th ng-hide="tipoApp === 'cc'" title="Gestor" data-field="gestor">{{tableInfo.gestor}}</th>
                <th ng-show="tipoApp === 'cc'" title="Detalle" data-field="gestor">{{tableInfo.detalle}}</th>
                <th ng-hide="isPteCancel()" title="FechaCre" data-field="fechaCre">{{tableInfo.creationDate}}</th>
                <th ng-show="isPteCancel()" title="MotivoCancel" data-field="motivoCancel">{{tableInfo.motivoCancel}}</th>
                <th title="FechaMod" data-field="FechaMod" class="">{{tableInfo.modDate}}</th>
                <th ng-show="isPteCancel()" title="Cancelar" data-field="Cancelar" class="">{{tableInfo.cancelar}}</th>
            </tr>
            <tr ng-show="isFioc()">
                <th title="N&uacute;mero de cuenta" data-field="n_cuenta">{{tableInfo.numCuenta}}</th>
                <th title="Fecha Creaci&oacute;n" data-field="FechaMod" class="">{{tableInfo.creationDate}}</th>
                <th title="Gestor" data-field="gestor">{{tableInfo.gestor}}</th>
                <th title="datInterv" data-field="datInterv">{{tableInfo.datInterv}}</th>
                <th title="Empresa" data-field="empresa">{{tableInfo.empresa}}</th>
                <th title="Actividad" data-field="actividad">{{tableInfo.actividad}}</th>
                <th title="Revision Fioc" data-field="revFioc">{{tableInfo.revFioc}}</th>
            </tr>
            <tr ng-show="isBloqueo()">
                <th title="Impactado" data-field="impactado" class="firstTh"></th>
                <th title="N&uacute;mero de cuenta" data-field="n_cuenta">{{tableInfo.numCuenta}}</th>
                <th title="Fecha Creaci&oacute;n" data-field="FechaMod" class="">{{tableInfo.creationDate}}</th>
                <th title="Gestor" data-field="gestor">{{tableInfo.gestor}}</th>
                <th title="datInterv" data-field="datInterv">{{tableInfo.datInterv}}</th>
                <th title="Empresa" data-field="empresa">{{tableInfo.empresa}}</th>
                <th title="Actividad" data-field="actividad">{{tableInfo.actividad}}</th>
                <th title="Bloqueado" data-field="bloqueado">{{tableInfo.bloqueado}}</th>
            </tr>
            </thead>
            <tbody id="contentTable">
            <tr ng-show="!isFioc() && !isBloqueo() && !isPteCancel()" ng-click="goToDetail(expediente.id)" ng-repeat="expediente in tableResults.expedientes">
                <td class="firstTd" ng-class="{CCfirstTd: tipoApp === 'cc'}">
                    <i ng-hide="tipoApp === 'cc'"  class="material-icons" ng-if="expediente.gestor != ''">lock</i>
                    <i ng-show="tipoApp === 'cc'"  class="material-icons">alarm</i>
                </td>
                <td><span>{{expediente.num_cuenta | limitTo: 10 : 10}}</span></td>
                <td><span>{{expediente.plataforma}}</span></td>
                <td><span>{{expediente.numInterv}}</span></td>
                <td><span>{{expediente.gestor}}</span></td>
                <td><span>{{expediente.fecha_alta | date : 'dd/MM/yyyy HH:mm'}}</span></td>
                <td><span>{{expediente.fecha_mod | date : 'dd/MM/yyyy HH:mm'}}</span></td>
            </tr>
            <tr ng-show="isPteCancel()" ng-repeat="expediente in tableResults.expedientes">
                <td><span>{{expediente.num_cuenta | limitTo: 10 : 10}}</span></td>
                <td><span>{{expediente.plataforma}}</span></td>
                <td><span>{{expediente.numInterv}}</span></td>
                <td><span>{{expediente.gestor}}</span></td>
                <td><span>{{expediente.motivoCancel}}</span></td>
                <td><span>{{expediente.fecha_mod | date : 'dd/MM/yyyy HH:mm'}}</span></td>
                <td ng-repeat="usuario in expediente.usuarios">
                    <md-checkbox ng-checked="userToCancel.indexOf(usuario.objName) > -1" ng-repeat="usuario in expediente.usuarios track by $index" role="checkbox" ng-click="cancel(usuario,expediente.id,expediente.motivoCancel)" aria-label="Cancelar Usuario"></md-checkbox>
                </td>
            </tr>
            <tr ng-show="isFioc() || isBloqueo()" ng-repeat="expediente in tableResults.expedientes">
                <td class="firstTd" ng-show="isBloqueo()">
                    <i class="material-icons" ng-if="expediente.gestor != ''">lock</i>
                </td>
                <td>{{expediente.num_cuenta | limitTo: 10 : 10}}</td>
                <td>{{expediente.fecha_alta | date : 'dd/MM/yyyy HH:mm'}}</td>
                <td>{{expediente.gestor}}</td>
                <td ng-repeat="usuario in expediente.usuarios"><span>{{usuario.nombre}} {{usuario.apellido1}} {{usuario.apellido2}}</span></td>
                <td ng-repeat="usuario in expediente.usuarios">
                    <md-tooltip class="tooltipFioc" md-direction="left">
                        {{usuario.empresa}}
                    </md-tooltip>
                    {{usuario.empresa}}
                </td>
                <td ng-repeat="usuario in expediente.usuarios">
                    <md-tooltip class="tooltipFioc" md-direction="left">
                        {{usuario.actividad}}
                    </md-tooltip>
                    {{usuario.actividad}}
                </td>
                <td ng-hide="isBloqueo()" ng-repeat="usuario in expediente.usuarios">
                    <md-input-container>
                        <label>Seleccione una opci&oacute;n</label>
                        <md-select class="standFioc" ng-model="usuario.selected" ng-change="selectAccionFioc(usuario,expediente.id,usuario.selected)">
                            <md-option ng-selected="false" ng-repeat="accion in listAccionesFioc track by $index">{{accion}}</md-option>
                        </md-select>
                    </md-input-container>
                </td>
                <td ng-show="isBloqueo()" ng-repeat="usuario in expediente.usuarios">
                    <md-checkbox ng-checked="usersToBlock.indexOf(usuario.objName) > -1" ng-repeat="usuario in expediente.usuarios track by $index" role="checkbox" ng-click="block(usuario,expediente.id)" aria-label="Bloquear Usuario"></md-checkbox>
                </td>
            </tr>
            </tbody>
        </table>
        <div ng-controller="TocFooterController" ng-class="{tocFooterBloqueo: isBloqueo() || isPteCancel()}" class="tocFooter">
            <toc-footer actual-page="actualPage" results-per-page-options="numResultsPerPageOptions" default-results-per-page="numResultsPerPageDefault" actual-size-per-page="numActualResultsPerPage" num-total-pages="numTotalPages" go-to-page="goToPage" go-to-next-page="goToNextPage" go-to-prev-page="goToPrevPage" is-fioc="isFioc"></toc-footer>
        </div>
        <div ng-controller="TocFooterController" class="col-sm-12 contentBtnProcessUser BtnBlock">
            <button ng-show="isFioc()" ng-click="procesarUsuarios()" class="buttonDefault pull-right">PROCESAR</button>
            <button ng-show="isBloqueo()" ng-click="bloquearCuentas()" class="buttonDefault pull-right">PROCESAR</button>
            <button ng-show="isPteCancel()" ng-click="cancelarCuentas()" class="buttonDefault pull-right">PROCESAR</button>
        </div>
    </div>
</form>