<div class="userDetailContent">
    <div class="datosDetalle">
            <div class="infoDatos">
                <label class="regular">Nombre</label>
                <p class="regularBold">Maria del Carmen</p>
            </div>
            <div class="infoDatos">
                <label class="regular">Primer Apellido</label>
                <p class="regularBold">Serrano</p>
            </div>
            <div class="infoDatos">
                <label class="regular">Segundo Apellido</label>
                <p class="regularBold">Lopez</p>
            </div>
            <div class="infoDatos">
                <label class="regular">Tipo Documentp</label>
                <p class="regularBold">DNI</p>
            </div>
            <div class="infoDatos">
                <label class="regular">Numero Documento</label>
                <p class="regularBold">48569521G</p>
            </div>
            <div class="infoDatos">
                <label class="regular">Fecha Nacimiento</label>
                <p class="regularBold">21/12/1985</p>
            </div>
        </div>
    <div>
    <div class="datosDetalle">
        <div class="infoDatos">
            <label class="regular">Sexo</label>
            <p class="regularBold">Femenino</p>
        </div>
        <div class="infoDatos">
            <label class="regular">Nacionalidad</label>
            <p class="regularBold">Espa&ntilde;ola</p>
        </div>
        <div class="infoDatos">
            <label class="regular">Pais de nacimiento</label>
            <p class="regularBold">España</p>
        </div>
        <div class="infoDatos">
            <label class="regular">Pais</label>
            <p class="regularBold">España</p>
        </div>
        <div class="infoDatos">
            <label class="regular">Provincia</label>
            <p class="regularBold">Madrid</p>
        </div>
        <div class="infoDatos">
            <label class="regular">Localidad</label>
            <p class="regularBold">Madrid</p>
        </div>
    </div>
    <div class="datosDetalle">
        <div class="infoDatos">
            <label class="regular">Tipo de Via</label>
            <p class="regularBold">Calle</p>
        </div>
        <div class="infoDatos">
            <label class="regular">Nombre de la Via</label>
            <p class="regularBold">Federico Garcia Lorca</p>
        </div>
        <div class="infoDatos">
            <label class="regular">Numero</label>
            <p class="regularBold">2</p>
        </div>
        <div class="infoDatos">
            <label class="regular">Piso</label>
            <p class="regularBold">5 Derecha D</p>
        </div>
        <div class="infoDatos">
            <label class="regular">Codigo Postal</label>
            <p class="regularBold">28956</p>
        </div>
    </div>
    <div class="datosDetalle">
        <div class="infoDatos">
            <label class="regular">Telefono Movil</label>
            <p class="regularBold">695458745</p>
        </div>
        <div class="infoDatos">
            <label class="regular">Telefono Fijo</label>
            <p class="regularBold">915487225</p>
        </div>
        <div class="infoDatos">
            <label class="regular">E-Mail</label>
            <p class="regularBold">prueba@prueba.es</p>
        </div>
    </div>
    <button id="backButton" class="btnReturn pull-right">VOLVER</button>
</div>
